In [2]:
import pandas as pd

In [4]:
# pd.read_csv('2019-11-01_Entity_Comm_AT.csv'
pd.read_csv('2019-11-01_Entity_Comm_AT.csv', delimiter = ",", index_col = None, header = 0, dtype = str, low_memory =False)

ParserError: Error tokenizing data. C error: out of memory

In [3]:
pd.read_csv('2019-12-16_Entity_Key_ET.csv')

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,key_type_val,key_type,entity_id,approval_id,active_ind,insert_user_id,insert_dtm,update_user_id,update_dtm,opt_lock
0,00106950067,ME,1335564,.,Y,powermrt,13JUN1998:13:45:10.751,aimsbtch,10SEP1999:19:47:41.036,0
1,00106950105,ME,1335603,.,Y,powermrt,13JUN1998:13:45:10.760,aimsbtch,10NOV1998:21:14:50.370,0
2,00106950130,ME,1335642,.,Y,powermrt,13JUN1998:13:45:10.769,aimsbtch,03SEP1999:19:54:08.142,0
3,00106950164,ME,1335681,.,Y,powermrt,13JUN1998:13:45:10.777,aimsbtch,04JUN1999:18:45:32.006,0
4,00106951021,ME,1335720,.,Y,powermrt,13JUN1998:13:45:10.786,aimsbtch,21APR2000:21:28:56.536,1
...,...,...,...,...,...,...,...,...,...,...
14372307,BP10059153-TX,LIC,47489529,.,Y,etlmdm,17DEC2019:01:45:15.641,etlmdm,17DEC2019:01:45:15.641,0
14372308,1316509854,NPI,48071409,.,Y,etlmdm,17DEC2019:01:45:15.646,etlmdm,17DEC2019:01:45:15.646,0
14372309,1740846815,NPI,48241007,.,Y,etlmdm,17DEC2019:01:45:15.653,etlmdm,17DEC2019:01:45:15.653,0
14372310,1982086989,NPI,55491641,.,Y,etlmdm,17DEC2019:01:45:15.657,etlmdm,17DEC2019:01:45:15.657,0
14372311,A00128265-CA,LIC,55491641,.,Y,etlmdm,17DEC2019:01:45:15.665,etlmdm,17DEC2019:01:45:15.665,0

In [29]:
reader = pd.read_csv('2019-11-01_Entity_Comm_AT.csv',chunksize=1000000,index_col = None, header = 0, dtype = str, low_memory =False)

In [27]:
for chunk in reader:
    print(chunk)
    pd.DataFrame(chunk)
    new_df = chunk[chunk['comm_cat'] == 'P']
    test.append(new_df)

In [43]:
reader.get_chunk(10000000).groupby(comm_cat)

StopIteration:

In [21]:
test.append(reader.get_chunk(2))

,entity_id,comm_type,comm_cat,seq_nbr,begin_dt,comm_id,approval_id,end_dt,seasonal_add_ind,chg_rsn_category,...,src_category,src_cat_code,search_city_cd,state_cd,zip,plus4,update_user_id,update_dtm,opt_lock,current_ind
14000002,28272747,HM,A,3,03JUL2012,15856187,27014574,27AUG2012,N,NaN,...,SRC-ADDR,ACS,NEW YORK,NY,10028,4028,jagadm,27AUG2012:12:14:37.459,2,N
14000003,13584736,OF,A,7,03JUL2012,15856194,27014588,08JAN2013,N,NaN,...,SRC-ADDR,ACS,FT MONTGOMERY,NY,10922,801,jagadm,08JAN2013:22:37:44.229,2,N

In [24]:
pd.DataFrame()

Empty DataFrame
Columns: [entity_id, comm_type, comm_cat, seq_nbr, begin_dt, comm_id, approval_id, end_dt, seasonal_add_ind, chg_rsn_category, chg_rsn_cat_code, src_category, src_cat_code, search_city_cd, state_cd, zip, plus4, update_user_id, update_dtm, opt_lock, current_ind]
Index: []

[0 rows x 21 columns]

In [26]:
reader

In [39]:
chunk_list = []  # append each chunk df here 
ent_comm_cols = ['entity_id', 'comm_type', 'begin_dt', 'comm_id', 'end_dt', 'src_cat_code']    
# Each chunk is in df format
for chunk in reader:  
    # perform data filtering 
    chunk_filter = chunk[chunk['comm_cat'] == 'P']
    chunk_filter = chunk_filter[ent_comm_cols]
    # Once the data filtering is done, append the chunk to list
    chunk_list.append(chunk_filter)
    
# concat the list into dataframe 
df_concat = pd.concat(chunk_list)

In [40]:
df_concat

,entity_id,comm_type,comm_cat,seq_nbr,begin_dt,comm_id,approval_id,end_dt,seasonal_add_ind,chg_rsn_category,...,src_category,src_cat_code,search_city_cd,state_cd,zip,plus4,update_user_id,update_dtm,opt_lock,current_ind
12527762,10801748,OF,P,1,22JUN1998,1803078,NaN,04JAN1999,N,SRC,...,SRC,MFLOAD,HAWTHORNE,NY,NaN,NaN,aimsbtch,09JAN1999:15:29:19.687,0,N
12532680,11683564,OF,P,1,01MAR1997,1795678,NaN,NaN,N,SRC,...,SRC,MFLOAD,NEW YORK,NY,NaN,NaN,pexposit,07MAY2000:03:33:41.398,3,Y
12542501,10625026,OF,P,1,01AUG1996,1803655,NaN,NaN,N,SRC,...,SRC,MFLOAD,SCARSDALE,NY,NaN,NaN,pexposit,07MAY2000:06:26:38.455,3,Y
12549772,7247639,OF,P,1,02JAN1991,1800640,NaN,06JUL2006,N,SRC,...,SRC,MFLOAD,BROOKLYN,NY,NaN,NaN,ppaload,06JUL2006:16:15:53.144,4,N
12554419,10802281,OF,P,1,31JUL1996,1793097,NaN,08OCT2002,N,SRC,...,SRC,MFLOAD,NEW YORK,NY,NaN,NaN,ppaload,08OCT2002:20:06:27.836,4,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38519617,2831929,OF,P,1,22JUN1998,1802284,NaN,13OCT1999,N,SRC,...,SRC,MFLOAD,NEW HAVEN,CT,NaN,NaN,informix,18FEB2000:15:42:44.550,1,N
38520715,2838689,OF,P,1,22JUN1998,1783306,NaN,20APR1999,N,SRC,...,SRC,MFLOAD,HARTFORD,CT,NaN,NaN,informix,18FEB2000:15:42:44.550,1,N
40500831,9481182,OF,P,1,01AUG1996,1794559,NaN,NaN,N,SRC,...,SRC,MFLOAD,SEATTLE,WA,98155,NaN,pexposit,07MAY2000:06:11:56.064,3,Y
40555834,6546666,OF,P,1,01MAR1997,1781752,NaN,13NOV2006,N,SRC,...,SRC,MFLOAD,SEAFORD,DE,NaN,NaN,ppaload,13NOV2006:14:56:32.235,4,N
40566170,12681704,OF,P,1,22JUN1998,1805483,NaN,20APR1999,N,SRC,...,SRC,MFLOAD,SHREVEPORT,LA,NaN,NaN,informix,21FEB2000:14:00:46.286,1,N

In [42]:
len(chunk_list)

31

In [49]:
df_concat.drop([df_concat['comm_id']==1803078])

KeyError: '[(False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False)] not found in axis'

In [52]:
df_concat.drop(df_concat.loc[df_concat['comm_id']=='1803078'].index, inplace=True)

In [53]:
df_concat

,entity_id,comm_type,comm_cat,seq_nbr,begin_dt,comm_id,approval_id,end_dt,seasonal_add_ind,chg_rsn_category,...,src_category,src_cat_code,search_city_cd,state_cd,zip,plus4,update_user_id,update_dtm,opt_lock,current_ind
12532680,11683564,OF,P,1,01MAR1997,1795678,NaN,NaN,N,SRC,...,SRC,MFLOAD,NEW YORK,NY,NaN,NaN,pexposit,07MAY2000:03:33:41.398,3,Y
12542501,10625026,OF,P,1,01AUG1996,1803655,NaN,NaN,N,SRC,...,SRC,MFLOAD,SCARSDALE,NY,NaN,NaN,pexposit,07MAY2000:06:26:38.455,3,Y
12549772,7247639,OF,P,1,02JAN1991,1800640,NaN,06JUL2006,N,SRC,...,SRC,MFLOAD,BROOKLYN,NY,NaN,NaN,ppaload,06JUL2006:16:15:53.144,4,N
12554419,10802281,OF,P,1,31JUL1996,1793097,NaN,08OCT2002,N,SRC,...,SRC,MFLOAD,NEW YORK,NY,NaN,NaN,ppaload,08OCT2002:20:06:27.836,4,N
12564472,6535889,OF,P,1,15DEC1995,1805168,NaN,16AUG2000,N,SRC,...,SRC,MFLOAD,NEW YORK,NY,10128,NaN,informix,16AUG2000:10:37:43.960,4,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38519617,2831929,OF,P,1,22JUN1998,1802284,NaN,13OCT1999,N,SRC,...,SRC,MFLOAD,NEW HAVEN,CT,NaN,NaN,informix,18FEB2000:15:42:44.550,1,N
38520715,2838689,OF,P,1,22JUN1998,1783306,NaN,20APR1999,N,SRC,...,SRC,MFLOAD,HARTFORD,CT,NaN,NaN,informix,18FEB2000:15:42:44.550,1,N
40500831,9481182,OF,P,1,01AUG1996,1794559,NaN,NaN,N,SRC,...,SRC,MFLOAD,SEATTLE,WA,98155,NaN,pexposit,07MAY2000:06:11:56.064,3,Y
40555834,6546666,OF,P,1,01MAR1997,1781752,NaN,13NOV2006,N,SRC,...,SRC,MFLOAD,SEAFORD,DE,NaN,NaN,ppaload,13NOV2006:14:56:32.235,4,N
40566170,12681704,OF,P,1,22JUN1998,1805483,NaN,20APR1999,N,SRC,...,SRC,MFLOAD,SHREVEPORT,LA,NaN,NaN,informix,21FEB2000:14:00:46.286,1,N