In [26]:
import pandas as pd
import datetime

In [3]:
blegh = pd.read_csv('ick.csv')

In [5]:
blegh.dtypes

entity_id             int64
comm_type            object
comm_cat             object
seq_nbr               int64
begin_dt             object
comm_id              object
approval_id          object
end_dt               object
seasonal_add_ind     object
chg_rsn_category     object
chg_rsn_cat_code     object
src_category         object
src_cat_code         object
search_city_cd       object
state_cd             object
zip                 float64
plus4               float64
update_user_id       object
update_dtm           object
opt_lock              int64
current_ind          object
dtype: object

In [6]:
ent_comm_df = pd.read_csv('ick.csv', delimiter = ",", index_col = None, header = 0, dtype = str)

In [13]:
def clean_ent_comm_data(ent_comm_df):
    
    ent_comm_cols = ['entity_id', 'comm_type', 'begin_dt', 'comm_id', 'end_dt', 'src_cat_code']    
    ent_comm_df = ent_comm_df[ent_comm_cols]
    ent_comm_df = rename_comm_cols(ent_comm_df)
    
    return ent_comm_df

In [15]:
ent_comm_df = clean_ent_comm_data(ent_comm_df)

In [14]:
def rename_comm_cols(data_df):
    col_names = data_df.columns.values
    new_col_dict = {}
    for name in col_names:
        if name.find('ent_comm') >= 0:
            new_col_dict[name] = name
        else:
            new_name = 'ent_comm_' + name
            new_col_dict[name] = new_name
            
    data_df = data_df.rename(columns = new_col_dict)
    
    return data_df

In [17]:
ent_comm_df.dtypes

ent_comm_entity_id       object
ent_comm_comm_type       object
ent_comm_begin_dt        object
ent_comm_comm_id         object
ent_comm_end_dt          object
ent_comm_src_cat_code    object
dtype: object

In [14]:
ent_comm_df['ent_comm_begin_dt'] = pd.to_datetime(ent_comm_df['ent_comm_begin_dt'])

In [ ]:
def create_ent_comm_dates(orig_data, date_var):
    
    orig_data[date_var]=pd.to_datetime(orig_data[date_var])

    return orig_data


def set_entity_dates(ent_data_df, begin_var, end_var):

    ent_data_df = create_ent_comm_dates(ent_data_df, begin_var)
    
    ent_no_end_ndx = ent_data_df[end_var].isna()
    ent_data_df.loc[ent_no_end_ndx, end_var] = datetime.datetime.now()
    ent_data_df = create_ent_comm_dates(ent_data_df, end_var)
    
    return ent_data_df

ent_comm_df

In [41]:
ent_comm_df.groupby('ent_comm_end_dt').count().sort_values('ent_comm_entity_id',ascending=False).head(50)

,ent_comm_entity_id,ent_comm_comm_type,ent_comm_begin_dt,ent_comm_comm_id,ent_comm_src_cat_code
ent_comm_end_dt,,,,,
2019-12-18,1310820,1310820,1310820,1310770,1041578
2003-05-22,16960,16960,16960,16960,16942
2019-08-08,15458,15458,15458,15458,15451
1999-04-20,14910,14910,14910,14910,14910
2000-01-17,13123,13123,13123,13123,7786
2001-06-17,12498,12498,12498,12498,12498
2009-05-08,8069,8069,8069,8069,3054
2019-05-16,7263,7263,7263,7263,7258
2019-07-25,7154,7154,7154,7154,7142
2003-05-06,6853,6853,6853,6853,6851
2003-04-30,6756,6756,6756,6756,6744
2003-05-14,6690,6690,6690,6690,6689
1999-09-14,6384,6384,6384,6384,6384
2019-05-09,6019,6019,6019,6019,6018
2000-05-17,6012,6012,6012,6012,5190
2009-02-19,5933,5933,5933,5933,5929
2019-09-12,5639,5639,5639,5639,5630
2009-12-10,5577,5577,5577,5577,5575
2013-11-07,5033,5033,5033,5033,4545
1999-04-21,4642,4642,4642,4642,4642
2001-07-16,4625,4625,4625,4625,4175
2002-04-22,4592,4592,4592,4592,4201
2001-10-29,4575,4575,4575,4575,4208
2010-10-27,4508,4508,4508,4508,4487
2000-08-16,4277,4277,4277,4277,3939
2008-08-27,3966,3966,3966,3966,3962
2010-02-09,3941,3941,3941,3941,3894
1998-07-28,3852,3852,3852,3852,3852
2000-01-09,3743,3743,3743,3743,3743
2004-02-22,3631,3631,3631,3631,3620
2009-12-28,3609,3609,3609,3609,3553
2008-08-05,3606,3606,3606,3606,3603
2010-06-18,3504,3504,3504,3504,3479
2006-04-26,3495,3495,3495,3495,3481
2003-04-23,3461,3461,3461,3461,3458
2010-11-03,3456,3456,3456,3456,3273
2015-09-15,3361,3361,3361,3361,3358
2017-01-03,3284,3284,3284,3284,3278
2007-07-31,3277,3277,3277,3277,3271
2011-06-27,3205,3205,3205,3205,132
2011-11-01,3142,3142,3142,3142,3140
2018-09-14,3069,3069,3069,3069,3066
2007-03-01,3061,3061,3061,3061,3061
2003-10-08,3053,3053,3053,3053,3017
2018-11-16,3008,3008,3008,3008,3007
2019-04-03,2990,2990,2990,2990,2976
2012-10-16,2946,2946,2946,2946,2741
2007-04-24,2859,2859,2859,2859,2731
2008-09-03,2763,2763,2763,2763,2762
2017-07-28,2757,2757,2757,2757,2633

In [5]:
ent_comm_file = '2019-10-16_Entity_Comm_AT.csv'

In [6]:
ent_comm_file_2 = 'ick.csv'

In [7]:
ent_comm_df = pd.read_csv(ent_comm_file, delimiter = ",", index_col = None, header = 0, dtype = str)
ent_comm_df = ent_comm_df[ent_comm_df['comm_cat'] == 'P']

In [8]:
ent_comm_df_2 = pd.read_csv(ent_comm_file_2, delimiter = ",", index_col = None, header = 0, dtype = str)
ent_comm_df_2 = ent_comm_df_2[ent_comm_df_2['comm_cat'] == 'P']

In [11]:
ent_comm_df.dtypes

entity_id           object
comm_type           object
comm_cat            object
seq_nbr             object
begin_dt            object
comm_id             object
approval_id         object
end_dt              object
seasonal_add_ind    object
chg_rsn_category    object
chg_rsn_cat_code    object
src_category        object
src_cat_code        object
search_city_cd      object
state_cd            object
zip                 object
plus4               object
update_user_id      object
update_dtm          object
opt_lock            object
current_ind         object
dtype: object

In [20]:
ent_comm_df_2 = clean_ent_comm_data(ent_comm_df_2)

In [23]:
ent_comm_df_2

,ent_comm_entity_id,ent_comm_comm_type,ent_comm_begin_dt,ent_comm_comm_id,ent_comm_end_dt,ent_comm_src_cat_code
0,1234580,HM,24JUN1998,5225897,17MAY2001,MFLOAD
1,1234580,OF,17MAY2001,6406233,10AUG2004,PPA
2,1234580,OF,10AUG2004,9302712,26SEP2006,PPA
3,1234580,OF,26SEP2006,10455415,20JUN2010,PPA
4,1234593,CL,27JUN2006,10327119,19JUN2008,PHONE-CALL
...,...,...,...,...,...,...
2904392,57385013,OF,17DEC2019,24204051,.,AMC
2904393,57385195,CL,17DEC2019,24204084,.,AMC
2904394,57385832,CL,17DEC2019,24204162,.,AMC
2904395,57386937,U,17DEC2019,24204324,.,MSOP
2904396,57387496,CL,17DEC2019,24204446,.,AMC

In [24]:
ent_comm_df

,ent_comm_entity_id,ent_comm_comm_type,ent_comm_begin_dt,ent_comm_comm_id,ent_comm_end_dt,ent_comm_src_cat_code
92,13768842,OF,18JUL1996,118861,NaN,MFLOAD
94,14434793,OF,01AUG1996,119284,14JAN2002,MFLOAD
95,14482867,OF,10MAR1998,119383,27MAR2003,MFLOAD
96,12307278,OF,01MAR1997,118177,22APR2002,MFLOAD
97,14437588,OF,01AUG1996,122749,NaN,MFLOAD
...,...,...,...,...,...,...
38381825,2831929,OF,22JUN1998,1802284,13OCT1999,MFLOAD
38382923,2838689,OF,22JUN1998,1783306,20APR1999,MFLOAD
40358331,9481182,OF,01AUG1996,1794559,NaN,MFLOAD
40413334,6546666,OF,01MAR1997,1781752,13NOV2006,MFLOAD
40423670,12681704,OF,22JUN1998,1805483,20APR1999,MFLOAD

In [25]:
def create_ent_comm_dates(orig_data, date_var):
    
    orig_data[date_var] = orig_data[date_var].astype('str') 
    orig_data[date_var] = orig_data[date_var].apply(lambda x: x[0:10] \
             if x.find('-') > 0 else x[0:9])
    
    orig_data[date_var] = orig_data[date_var].apply(lambda x: pd.to_datetime(x, format = '%Y-%m-%d') \
             if x.find('-') > 0 else pd.to_datetime(x, format = '%d%b%Y'))

    return orig_data


def set_entity_dates(ent_data_df, begin_var, end_var):

    ent_data_df = create_ent_comm_dates(ent_data_df, begin_var)
    
    ent_no_end_ndx = ent_data_df[end_var].isna()
    ent_data_df.loc[ent_no_end_ndx, end_var] = datetime.datetime.now()
    ent_data_df = create_ent_comm_dates(ent_data_df, end_var)
    
    return ent_data_df

In [27]:
entity_phn_df, hist_ent_id_phn_count_df, hist_ent_all_phn_count_df = \
        create_ent_comm_data(ent_comm_df, phone_df, ent_key_df, 'aims_phone')

NameError: name 'create_ent_comm_data' is not defined

In [28]:
def get_valid_ppd_ent_data(ent_ppd_df, date_var):
    
    ent_ppd_df = set_entity_dates(ent_ppd_df, 'ent_comm_begin_dt', 'ent_comm_end_dt')
    
    ent_date_df = ent_ppd_df[(ent_ppd_df['ent_comm_begin_dt'] <= ent_ppd_df[date_var]) & \
                                              (ent_ppd_df['ent_comm_end_dt'] >= ent_ppd_df[date_var])]
              
    return ent_date_df

In [29]:
ppd_file = 'ppd_data_20191214.csv'
ppd_df = pd.read_csv(ppd_file, delimiter = ",", index_col = None, header = 0, dtype = str)
under_ndx = under_ndx = [i for i in range(len(ppd_file)) if ppd_file.startswith('_', i)]
dot_ndx = ppd_file.find('.')
ppd_date_str = ppd_file[under_ndx[-1] + 1:dot_ndx]
    
ppd_date = datetime.datetime.strptime(ppd_date_str, '%Y%m%d')

In [30]:
ppd_date

datetime.datetime(2019, 12, 14, 0, 0)

In [31]:
get_valid_ppd_ent_data(ent_comm_df, 'ppd_date')

KeyError: datetime.datetime(2019, 12, 14, 0, 0)

In [33]:
create_ent_comm_dates(ent_comm_df, 'ent_comm_begin_dt')

,ent_comm_entity_id,ent_comm_comm_type,ent_comm_begin_dt,ent_comm_comm_id,ent_comm_end_dt,ent_comm_src_cat_code
92,13768842,OF,1996-07-18,118861,2019-12-18,MFLOAD
94,14434793,OF,1996-08-01,119284,2002-01-14,MFLOAD
95,14482867,OF,1998-03-10,119383,2003-03-27,MFLOAD
96,12307278,OF,1997-03-01,118177,2002-04-22,MFLOAD
97,14437588,OF,1996-08-01,122749,2019-12-18,MFLOAD
...,...,...,...,...,...,...
38381825,2831929,OF,1998-06-22,1802284,1999-10-13,MFLOAD
38382923,2838689,OF,1998-06-22,1783306,1999-04-20,MFLOAD
40358331,9481182,OF,1996-08-01,1794559,2019-12-18,MFLOAD
40413334,6546666,OF,1997-03-01,1781752,2006-11-13,MFLOAD
40423670,12681704,OF,1998-06-22,1805483,1999-04-20,MFLOAD

In [45]:
ent_comm_df_2[ent_comm_df_2['ent_comm_end_dt']=='.']

,ent_comm_entity_id,ent_comm_comm_type,ent_comm_begin_dt,ent_comm_comm_id,ent_comm_end_dt,ent_comm_src_cat_code
5,1234593,CL,19JUN2008,11373736,.,PHONE-CALL
9,1234606,OF,19FEB2009,6018170,.,GROUP
12,1234619,U,13MAY2004,9199171,.,MBSHP-WEB
16,1234632,OF,07APR2014,19291218,.,PHNSURV
18,1234645,HM,27JUN2008,11386044,.,PHONE-CALL
...,...,...,...,...,...,...
2904392,57385013,OF,17DEC2019,24204051,.,AMC
2904393,57385195,CL,17DEC2019,24204084,.,AMC
2904394,57385832,CL,17DEC2019,24204162,.,AMC
2904395,57386937,U,17DEC2019,24204324,.,MSOP
2904396,57387496,CL,17DEC2019,24204446,.,AMC

In [46]:
create_ent_comm_dates(ent_comm_df_2, 'ent_comm_end_dt')

ValueError: time data '.' does not match format '%d%b%Y' (match)

In [49]:
ent_comm_df[ent_comm_df_2['ent_comm_end_dt']=='.'].

0          False
1          False
2          False
3          False
4          False
           ...
2904392     True
2904393     True
2904394     True
2904395     True
2904396     True
Name: ent_comm_end_dt, Length: 2904397, dtype: bool

In [52]:
ent_comm_df.where(ent_comm_end_dt=='.','19DEC2019')

NameError: name 'ent_comm_end_dt' is not defined

In [61]:
ent_comm_df_2['ent_comm_end_dt'] = ent_comm_df_2['ent_comm_end_dt'].replace('26SEP2006',datetime.datetime.now())

In [62]:
ent_comm_df_2

,ent_comm_entity_id,ent_comm_comm_type,ent_comm_begin_dt,ent_comm_comm_id,ent_comm_end_dt,ent_comm_src_cat_code
0,1234580,HM,24JUN1998,5225897,17MAY2001,MFLOAD
1,1234580,OF,17MAY2001,6406233,10AUG2004,PPA
2,1234580,OF,10AUG2004,9302712,2019-12-19 10:58:35.781598,PPA
3,1234580,OF,26SEP2006,10455415,20JUN2010,PPA
4,1234593,CL,27JUN2006,10327119,19JUN2008,PHONE-CALL
...,...,...,...,...,...,...
2904392,57385013,OF,17DEC2019,24204051,<built-in method now of type object at 0x00007...,AMC
2904393,57385195,CL,17DEC2019,24204084,<built-in method now of type object at 0x00007...,AMC
2904394,57385832,CL,17DEC2019,24204162,<built-in method now of type object at 0x00007...,AMC
2904395,57386937,U,17DEC2019,24204324,<built-in method now of type object at 0x00007...,MSOP
2904396,57387496,CL,17DEC2019,24204446,<built-in method now of type object at 0x00007...,AMC