In [1]:
import pandas as pd

In [5]:
ppd = pd.read_csv('ppd_data_20191116.csv')

In [6]:
spec = pd.read_csv('../Misc_Datasets/spec.csv')

In [7]:
ppd.dtypes

ME                                  int64
RECORD_ID                          object
UPDATE_TYPE                         int64
ADDRESS_TYPE                      float64
MAILING_NAME                       object
                                   ...
MOST_RECENT_FORMER_MIDDLE_NAME     object
MOST_RECENT_FORMER_FIRST_NAME      object
NEXT_MOST_RECENT_FORMER_LAST       object
NEXT_MOST_RECENT_FORMER_MIDDLE     object
NEXT_MOST_RECENT_FORMER_FIRST      object
Length: 81, dtype: object

In [8]:
spec.dtypes

SPEC_CD           object
SPEC_ID            int64
DESC              object
SRC_SYS           object
INSERT_TMSTP      object
INSERT_USERID     object
UPDATE_TMSTP      object
UPDATE_USERID     object
ACTIVE_IND       float64
dtype: object

In [9]:
spec=spec[['SPEC_CD', 'SPEC_ID','DESC']]

In [11]:
ppd = ppd[['ME', 'PRIM_SPEC_CD','SEC_SPEC_CD', 'GME_SPEC_1','GME_SPEC_2']]

In [13]:
pd.merge(ppd, spec, left_on='PRIM_SPEC_CD', right_on='SPEC_CD')

,ME,PRIM_SPEC_CD,SEC_SPEC_CD,GME_SPEC_1,GME_SPEC_2,SPEC_CD,SPEC_ID,DESC
0,102000013,EM,FM,NaN,NaN,EM,1682,EMERGENCY MEDICINE
1,102000307,EM,US,NaN,NaN,EM,1682,EMERGENCY MEDICINE
2,102000838,EM,US,NaN,NaN,EM,1682,EMERGENCY MEDICINE
3,102001079,EM,US,NaN,NaN,EM,1682,EMERGENCY MEDICINE
4,102001257,EM,US,NaN,NaN,EM,1682,EMERGENCY MEDICINE
...,...,...,...,...,...,...,...,...
1262066,94102710058,PSP,HS,NaN,NaN,PSP,1909,PLASTIC SURGERY WITHIN THE HEAD & NECK (PLASTI...
1262067,3845830419,SMA,US,NaN,NaN,SMA,1938,SLEEP MEDICINE (ANESTHESIOLOGY)
1262068,5404020619,SMA,US,NaN,NaN,SMA,1938,SLEEP MEDICINE (ANESTHESIOLOGY)
1262069,4804780063,HPO,PLM,NaN,NaN,HPO,1903,HOSPICE & PALLIATIVE MEDICINE (OBSTETRICS & GY...
1262070,4812810273,HPO,US,NaN,NaN,HPO,1903,HOSPICE & PALLIATIVE MEDICINE (OBSTETRICS & GY...

In [14]:
spec.to_csv('speciality_id.csv')

In [15]:
spec

    SPEC_CD  SPEC_ID                                               DESC
0       CLI     1945           CLINICAL INFORMATICS (INTERNAL MEDICINE)
1       IAN     1946              CLINICAL INFORMATICS (ANESTHESIOLOGY)
2       IRI     1947              INTERVENTIONAL RADIOLOGY - INTEGRATED
3       CIF     1948             CLINICAL INFORMATICS (FAMILY MEDICINE)
4       CIE     1949          CLINICAL INFORMATICS (EMERGENCY MEDICINE)
..      ...      ...                                                ...
378     VIR     1884              VASCULAR AND INTERVENTIONAL RADIOLOGY
379      VM     1885                                  VASCULAR MEDICINE
380      VN     1886                                 VASCULAR NEUROLOGY
381      VS     1887                                   VASCULAR SURGERY
382     MGM     1955  MEDICAL GENETICS AND GENOMICS/MATERNAL-FETAL M...

[383 rows x 3 columns]