In [1]:
import pandas as pd
import requests
account_sid = "AC3f5ea9ca99884402baac7d6a32e1a618"
auth_token = "AUc1138b32e04a42e68a73cf9b8fcaa329"

In [3]:
dis = pd.read_csv("../new_EVERYONE_disconnected_numbers.csv")
dis.head()
conn = pd.read_csv("../new_EVERYONE_connected_numbers.csv")
conn.head()
wrong = pd.read_csv("../new_wrong_numbers.csv")
wrong.head()

,Unnamed: 0,Unnamed: 0.1,Name_CNAM,OFFICE_TELEPHONE,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_LAST_NAME,OFFICE_ADDRESS_LINE_1,PHYSICIAN_NAME,STATUS,ADDRESS,CITY,CNAM,LINETYPE,NAME,STATE,TYPE,ZIP
0,5,90.0,CAREMORE,2035335911,5.101011e+09,PAUL,ALLEN,DI CAMILLO,RADIOLOGY RESIDENCY PROGRAM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27,73.0,CARTER CTR THE,4044205100,4.804783e+09,DONALD,GREGORY,HOPKINS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,88,14.0,OSF ST FRANCIS,9067863311,2.507062e+09,PATRICK,JOHN,BISSELL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14,93.0,COASTAL FAM HLT,2284749511,4.177030e+09,TANIYA,LAMIKA,SMITH,SOUTH ALABAMA MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55,70.0,SUN CITIES MEDI,6238159733,3.660192e+10,SAMUEL,HAILEAB,BAIRU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
def reverse_lookup_everyone(phone_number):

    params = {'account_sid': account_sid, 'auth_token': auth_token}
    base_url = f'https://api.everyoneapi.com/v1/phone/+1{phone_number}'
    response = requests.get(base_url, params=params)
    results = response.json()
    NEW_DICT = {}
    try:
        NEW_DICT['ADDRESS'] = results['data']['address']   
    except:
        NEW_DICT['ADDRESS'] = 'N/A'
    try:
        NEW_DICT['CNAM'] = results['data']['cnam']
    except:
        NEW_DICT['CNAM'] = 'N/A'
    try:
        NEW_DICT['LINETYPE'] = results['data']['linetype']
    except:
        NEW_DICT['LINETYPE'] = 'N/A'
    try:
        NEW_DICT['CITY'] = results['data']['location']['city']
    except:
        NEW_DICT['CITY'] = 'N/A'
    try:
        NEW_DICT['STATE'] = results['data']['location']['state']
    except:
        NEW_DICT['STATE'] = 'N/A'
    try:
        NEW_DICT['ZIP'] = results['data']['location']['zip']
    except:
        NEW_DICT['ZIP'] = 'N/A'
    try:
        NEW_DICT['NAME'] = results['data']['name']
    except:
        NEW_DICT['NAME'] = 'N/A'  
    try:
        NEW_DICT['TYPE'] = results['type']
    except:
        NEW_DICT['TYPE'] = 'N/A'  
    
    return(NEW_DICT, results)

In [8]:
y = pd.read_csv('../new_connected_numbers.csv')

In [38]:
results_list5 =[]
dict_list5 = []
for num in NUMS:
    new_dicto, resultso = reverse_lookup_everyone(num)
    results_list5.append(resultso)
    dict_list5.append(new_dicto)

In [39]:
dfff = pd.DataFrame(dict_list5)

In [18]:
dct_list3 = dict_list + dict_list2

In [19]:
df = pd.DataFrame(dct_list3)
df.to_csv('new_wrong_everyone.csv')

In [40]:
dfff

,ADDRESS,CITY,CNAM,LINETYPE,NAME,STATE,TYPE,ZIP
0,N/A,Glasgow,"GLASGOW, KY",landline,N/A,KY,unknown,42141
1,N/A,Bloodvein,"BLOODVEIN, MB",landline,N/A,MB,unknown,R0C 0J0
2,N/A,Lebanon (warren),"LEBANON WA, VA",landline,N/A,VA,unknown,24266
3,N/A,Lebanon (warren),"LEBANON WA, VA",landline,N/A,VA,unknown,24266
4,N/A,Salt Lake City,"SALT LAKE C, UT",landline,N/A,UT,unknown,84120
5,N/A,Tucson,"TUCSON, AZ",landline,N/A,AZ,unknown,85701
6,N/A,Hanover,"DARTMOUTH,HITCH",landline,Hitch Dartmouth,NH,person,03766
7,2219 Dillon Rd,Clovis,PLAINS REGIONAL,landline,Plains Regional Cancer Center,NM,business,88101
8,N/A,Birmingham,GLAUCOMA C,landline,Glaucoma C,AL,business,35216
9,41140 Fox Run,Novi,ERICKSON RETIRE,landline,Erickson Retirement Communities Rest Homes,MI,business,48377
10,N/A,Des Plaines,AMC MEDICAL CEN,landline,Amc Medical Cen,IL,business,60016

In [15]:
wrong[0:15]

,Unnamed: 0,Unnamed: 0.1,Name_CNAM,OFFICE_TELEPHONE,PHYSICIAN_ME_NUMBER,PHYSICIAN_FIRST_NAME,PHYSICIAN_MIDDLE_NAME,PHYSICIAN_LAST_NAME,OFFICE_ADDRESS_LINE_1,PHYSICIAN_NAME,STATUS,ADDRESS,CITY,CNAM,LINETYPE,NAME,STATE,TYPE,ZIP
0,5,90.0,CAREMORE,2035335911,5.101011e+09,PAUL,ALLEN,DI CAMILLO,RADIOLOGY RESIDENCY PROGRAM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27,73.0,CARTER CTR THE,4044205100,4.804783e+09,DONALD,GREGORY,HOPKINS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,88,14.0,OSF ST FRANCIS,9067863311,2.507062e+09,PATRICK,JOHN,BISSELL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14,93.0,COASTAL FAM HLT,2284749511,4.177030e+09,TANIYA,LAMIKA,SMITH,SOUTH ALABAMA MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55,70.0,SUN CITIES MEDI,6238159733,3.660192e+10,SAMUEL,HAILEAB,BAIRU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,11,66.0,PERSPECTUS ARCH,2167521800,7.482286e+10,ALAN,JOHN S,DELOS SANTOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,80,60.0,MIDWEST CENTER,8478641200,5.118108e+08,SUSAN,LINEN,WARNER,TENNESSEE VALLEY HEALTH CARE SYSTEM/WOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,52,43.0,VANDERBILT,6153434000,5.198805e+08,RONALD,DEAN,MC COY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,24,37.0,INDIANA UNIV,3172789100,4.955281e+10,ANANTHA,NaN,SHEKHAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,87,94.0,MILLENN PHYSGRP,9047275151,2.405800e+09,RUTH,GOTTLIEB,KING,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,19,12.0,WILSON MEDICAL,2523995300,3.601971e+09,KENNETH,LEE,JOHNSON,UNC EAR NOSE & THROAT AT CLAYTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,15,99.0,CRISP REG HOSP,2292763100,2.803990e+09,PRIYA,D,RAVINDRAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,99,95.0,GORDON CONWELL,9784687111,3.050101e+10,SEONG,YEON,PARK,DEPT OF ANESTHESIOLOGY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,28,11.0,SACSCOCS,4046794500,2.604822e+09,ALICE,NaN,PENROSE-MILLER,PACKARD HEALTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,75,59.0,CENTEGRA PRIMAR,8152061060,1.606970e+09,RAKESH,R,PATEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
results_list2 =[]
dict_list2 = []
for row in wrong[15:].itertuples():
    new_dicto, resultso = reverse_lookup_everyone(row.OFFICE_TELEPHONE)
    results_list2.append(resultso)
    dict_list2.append(new_dicto)

In [13]:
disconnected2 = pd.read_csv('../Ekata/ekata_disconnected.csv')

In [17]:
disconnected3 = pd.read_csv('everyone_numbers_disconnected.csv')

In [25]:
x = pd.merge(disconnected2, disconnected3, on='OFFICE_TELEPHONE', how = 'outer')

In [26]:
x = x.fillna('None')

In [35]:
NUMS = x[x['NAME']=='None']['OFFICE_TELEPHONE']

In [30]:
x.dtypes

Unnamed: 0           int64
Address             object
AlternatePhone      object
Carrier             object
City                object
Commercial          object
Date                object
Error               object
Industry            object
LineType            object
Name                object
OFFICE_TELEPHONE     int64
PhoneType           object
State               object
Valid                 bool
Zipcode             object
ADDRESS             object
CITY                object
CNAM                object
LINETYPE            object
NAME                object
STATE               object
TYPE                object
ZIP                 object
dtype: object

In [37]:
for num in NUMS:
    print(num)

2706519393
2043957827
2768898380
2768898380
3852132546
5202145354
6036506247
5757697669
2058242227
2489605104
8478273455