In [1]:
import pandas as pd

In [2]:
ppd = pd.read_csv('ppd_data_20200314.csv')
sample = pd.read_csv('True_Sample.csv')

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (13,20,42,49,72) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
merged = pd.merge(ppd, sample, on='ME')

In [10]:
test = merged[['ME','FIRST_NAME','MIDDLE_NAME','LAST_NAME','SUFFIX', 'ADDR_1','ADDR_2','CITY_y','STATE_CD','ZIP_y','Phone_Number_mar','PRIM_SPEC_CD','PE_CD','FAX_NUMBER']]

In [7]:
for col in merged.columns:
    print(col)

ME
RECORD_ID
UPDATE_TYPE
ADDRESS_TYPE
MAILING_NAME
LAST_NAME
FIRST_NAME
MIDDLE_NAME
SUFFIX
MAILING_LINE_1
MAILING_LINE_2
CITY_x
STATE
ZIP_x
SECTOR
CARRIER_ROUTE
ADDRESS_UNDELIVERABLE_FLAG
FIPS_COUNTY
FIPS_STATE
PRINTER_CONTROL_CODE
PC_ZIP
PC_SECTOR
DELIVERY_POINT_CODE
CHECK_DIGIT
PRINTER_CONTROL_CODE_2
REGION
DIVISION
GROUP
TRACT
SUFFIX_CENSUS
BLOCK_GROUP
MSA_POPULATION_SIZE
MICRO_METRO_IND
CBSA
CBSA_DIV_IND
MD_DO_CODE
BIRTH_YEAR
BIRTH_CITY
BIRTH_STATE
BIRTH_COUNTRY
GENDER
TELEPHONE_NUMBER
PRESUMED_DEAD_FLAG
FAX_NUMBER
TOP_CD
PE_CD
PRIM_SPEC_CD
SEC_SPEC_CD
MPA_CD
PRA_RECIPIENT
PRA_EXP_DT
GME_CONF_FLG
FROM_DT_x
TO_DT
YEAR_IN_PROGRAM
POST_GRADUATE_YEAR
GME_SPEC_1
GME_SPEC_2
TRAINING_TYPE
GME_INST_STATE
GME_INST_ID
MEDSCHOOL_STATE
MEDSCHOOL_ID
MEDSCHOOL_GRAD_YEAR
NO_CONTACT_IND
NO_WEB_FLAG
PDRP_FLAG
PDRP_START_DT
POLO_MAILING_LINE_1
POLO_MAILING_LINE_2
POLO_CITY
POLO_STATE
POLO_ZIP
POLO_SECTOR
POLO_CARRIER_ROUTE
MOST_RECENT_FORMER_LAST_NAME
MOST_RECENT_FORMER_MIDDLE_NAME
MOST_RECENT_FORMER_FIRST_NAME
NEXT_MOST_RECENT_FORMER_LAST
NEXT_MOST_RECENT_FORMER_MIDDLE
NEXT_MOST_RECENT_FORMER_FIRST
PARTY_ID
POST_CD_ID
FROM_DT_y
ADDR_TYPE
ADDR_1
ADDR_2
ADDR_3
CITY_y
STATE_CD
ZIP_y
POST_CD_ID_PPMA
ADDR_1_PPMA
ADDR_2_PPMA
ADDR_3_PPMA
CITY_PPMA
STATE_CD_PPMA
ZIP_PPMA
FROM_DT_PPMA
POST_CD_ID_POLO
ADDR_1_POLO
ADDR_2_POLO
ADDR_3_POLO
CITY_POLO
STATE_CD_POLO
ZIP_POLO
FROM_DT_POLO
POST_KEY
Match
Match_2
NPI
ME_feb
Additional Office Locations_feb
Phone_Number_feb
Zip Code_feb
State_feb
City_feb
Address_feb
First Name_feb
Physician Name_feb
Middle Name_feb
Primary Specialty_feb
Primary Hospital Affiliation_feb
Last Name_feb
Address1_feb
ME_mar
Additional Office Locations_mar
Phone_Number_mar
Zip Code_mar
State_mar
City_mar
Address_mar
First Name_mar
Physician Name_mar
Middle Name_mar
Primary Specialty_mar
Primary Hospital Affiliation_mar
Last Name_mar
Address1_mar
New
Phone_Update
Address_Update
DHC_MATCH
CITY_MATCH

In [11]:
test.groupby('PE_CD').count()

,ME,FIRST_NAME,MIDDLE_NAME,LAST_NAME,SUFFIX,ADDR_1,ADDR_2,CITY_y,STATE_CD,ZIP_y,Phone_Number_mar,PRIM_SPEC_CD,FAX_NUMBER
PE_CD,,,,,,,,,,,,,
11,13,13,11,13,1,13,12,13,13,13,13,13,12
13,7,7,6,7,0,7,7,7,7,7,7,7,5
21,2,2,1,2,0,2,0,2,2,2,2,2,0
22,1,1,1,1,0,1,0,1,1,1,1,1,1
30,104,104,82,104,2,104,74,104,104,104,104,104,79
40,6,6,4,6,0,6,3,6,6,6,6,6,3
50,49,49,39,49,2,49,27,49,49,49,49,49,13
63,27,27,19,27,0,27,19,27,27,27,27,27,20
64,1,1,1,1,1,1,1,1,1,1,1,1,1
82,1,1,0,1,0,1,0,1,1,1,1,1,1
83,1,1,1,1,0,1,0,1,1,1,1,1,1
85,1,1,1,1,0,1,1,1,1,1,1,1,0
86,3,3,2,3,0,3,3,3,3,3,3,3,2
110,284,284,204,284,3,284,196,284,284,284,284,284,47

In [14]:
mf_Samp = pd.read_excel('Masterfile_Random_Sample.xlsx')

In [17]:
CODES = mf_Samp.drop_duplicates('PE_CD')[['DESCRIPTION','PE_CD']]

In [19]:
mf_Samp.columns

Index(['ME', 'FIRST_NAME', 'MIDDLE_NAME', 'LAST_NAME', 'SUFFIX',
       'POLO_MAILING_LINE_1', 'POLO_MAILING_LINE_2', 'POLO_CITY', 'POLO_STATE',
       'POLO_ZIP', 'TELEPHONE_NUMBER', 'PRIM_SPEC_CD', 'DESCRIPTION', 'PE_CD',
       'FAX_NUMBER'],
      dtype='object')

In [18]:
test.columns

Index(['ME', 'FIRST_NAME', 'MIDDLE_NAME', 'LAST_NAME', 'SUFFIX', 'ADDR_1',
       'ADDR_2', 'CITY_y', 'STATE_CD', 'ZIP_y', 'Phone_Number_mar',
       'PRIM_SPEC_CD', 'PE_CD', 'FAX_NUMBER'],
      dtype='object')

In [21]:
TEST = test.rename(columns = {'ADDR_2':'POLO_MAILING_LINE_1','ADDR_1':'POLO_MAILING_LINE_2','CITY_y':'POLO_CITY','STATE_CD':'POLO_STATE','ZIP_y':'POLO_ZIP','Phone_Number_mar':'TELEPHONE_NUMBER'})

In [23]:
WORKIN = pd.merge(TEST, CODES,on='PE_CD')

In [30]:
WORKIN = WORKIN.fillna('None')

In [34]:
new_list =[]
for thing in list(WORKIN['TELEPHONE_NUMBER']):
    new_list.append(thing.replace('.',''))
WORKIN['TELEPHONE_NUMBER'] = new_list

In [36]:
WORKIN.to_csv('2020_03_24_Insurance_DHC_Sample.csv',index=False)

In [38]:
WORKIN = WORKIN.astype(str)

In [39]:
nums =[]
for num in list(WORKIN['ME'].astype(str)):
    num = num.replace('.0','')
    if len(num)==10:
        num = '0'+num
    elif len(num)==9:
        num = '00'+num
    elif len(num)==8:
        num = '000'+num
    nums.append(num)
WORKIN['ME']=nums

In [41]:
WORKIN.to_excel('2020_03_24_Insurance_DHC_Sample.xlsx')