In [1]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import datetime as dt

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
ranked = pd.read_csv('Polo_Addr_Rank_Scored_PPD_DPC_Pop.csv')
dhc_insurance = pd.read_csv('dhc_insurance.csv')slyth

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
ALL_DATA = pd.merge(dhc_insurance, ranked, left_on = 'ME', right_on = 'PPD_ME')

In [4]:
ppd = pd.read_csv('ppd_data_20200222.csv')
PPD  = ppd[['ME','MAILING_LINE_1','MAILING_LINE_2','CITY','STATE','ZIP']]

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (13,20,42,49,72) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
all_ = pd.merge(ALL_DATA, PPD, on = 'ME')

In [8]:
all_ = all_.fillna('None')

In [11]:
ppma_amaia_match = []
polo_dhc_match = []
polo_amaia_match = []
dhc_amaia_match = []
for row in all_.itertuples():
    if type(row.ADDR_1) == float:
        print(row.ADDR_1)
    if fuzz.ratio(row.ADDR_1.upper(), row.PPD_POLO_MAILING_LINE_2) >75:
        polo_amaia_match.append(True)
    else:
        polo_amaia_match.append(False)
    if fuzz.ratio(row.Address.upper(),row.PPD_POLO_MAILING_LINE_2) > 75:
        polo_dhc_match.append(True)
    else:
        polo_dhc_match.append(False)
    if fuzz.ratio(row.ADDR_1, row.Address) >75:
        dhc_amaia_match.append(True)
    else:
        dhc_amaia_match.append(False)
    if fuzz.ratio(row.ADDR_1.upper(), row.MAILING_LINE_2) >70:
        ppma_amaia_match.append(True)
    else:
        ppma_amaia_match.append(False)

In [12]:
all_['PPMA_AMAIA'] = ppma_amaia_match
all_['POLO_AMAIA'] = polo_amaia_match
all_['DHC_AMAIA'] = dhc_amaia_match
all_['POLO_DHC'] = polo_dhc_match

In [14]:
all_[(all_.POLO_AMAIA==True)&(all_.POLO_DHC==True)][['ADDR_1','Address','PPD_POLO_MAILING_LINE_2','PRED_PROBABILITY','MAILING_LINE_2']].mean()

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-14-e1285f396c2c>", line 1, in <module>
    all_[(all_.POLO_AMAIA==True)&(all_.POLO_DHC==True)][['ADDR_1','Address','PPD_POLO_MAILING_LINE_2','PRED_PROBABILITY','MAILING_LINE_2']].mean()
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py", line 11618, in stat_func
    f, name, axis=axis, skipna=skipna, numeric_only=numeric_only
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py", line 7909, in _reduce
    result = f(values)
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py", line 7893, in f
    return op(x, axis=axis, skipna=skipna, **kwds)
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\nanops.py", line 70, in _f
    return f(*args, **kwargs)
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\nanops.py", line 120, in f
    result = alt(values, axis=axis, skipna=skipna, **kwds)
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\nanops.py", line 551, in nanmean
    the_sum = _ensure_numeric(values.sum(axis, dtype=dtype_sum))
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2040, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 319, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 353, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\inspect.py", line 693, in getsourcefile
    if os.path.exists(filename):
  File "C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\genericpath.py", line 19, in exists
    os.stat(path)
KeyboardInterrupt

KeyboardInterrupt:

In [75]:
all_[(all_.PRED_PROBABILITY<0.6)&(all_.TEST==False)&(all_.TEST2==True)&(all_.PPMA_MATCH==False)][['CITY_x','City','PPD_POLO_CITY','CITY_y']]

,CITY_x,City,PPD_POLO_CITY,CITY_y
56,Eugene,Eugene,FORT GORDON,FORT GORDON
238,Somerset,Somerset,BALTIMORE,BALTIMORE
289,Livingston,Livingston,MANTECA,MANTECA
343,Santa Barbara,Santa Barbara,STANFORD,STANFORD
409,Chesapeake,Chesapeake,NORFOLK,NORFOLK
...,...,...,...,...
556033,Waldorf,Waldorf,TEMPLE HILLS,TEMPLE HILLS
556104,San Antonio,San Antonio,SAN ANTONIO,SAN ANTONIO
556265,Los Angeles,Los Angeles,LOS ANGELES,LOS ANGELES
556267,Los Angeles,Los Angeles,LOS ANGELES,LOS ANGELES
556348,Omaha,Omaha,OMAHA,OMAHA

In [74]:
all_.columns

Index(['PARTY_ID', 'ME', 'POST_CD_ID', 'FROM_DT', 'ADDR_TYPE', 'ADDR_1',
       'ADDR_2', 'ADDR_3', 'CITY_x', 'STATE_CD', 'ZIP_x', 'NPI',
       'Additional Office Locations', 'Phone Number', 'Zip Code', 'State',
       'City', 'Address', 'First Name', 'Physician Name', 'Middle Name',
       'Primary Specialty', 'Primary Hospital Affiliation', 'Last Name',
       'Address1', 'Unnamed: 0', 'LIC_STATE_MATCH', 'PCP',
       'ENT_COMM_SRC_CAT_CODE', 'ENT_COMM_COMM_TYPE', 'ADDR_AGE_YRS',
       'YOP_YRS', 'DOCTOR_AGE_YRS', 'PPD_ADDRESS_TYPE', 'PPD_REGION',
       'PPD_DIVISION', 'PPD_GROUP', 'PPD_MSA_POPULATION_SIZE',
       'PPD_MD_DO_CODE', 'PPD_MICRO_METRO_IND', 'PPD_GENDER', 'PPD_TOP_CD',
       'PPD_PE_CD', 'PPD_PRIM_SPEC_CD', 'PPD_POLO_STATE',
       'HIST_ENT_ID_ADDR_COUNT', 'HIST_ENT_ALL_ADDR_COUNT',
       'CURR_ENT_ID_ADDR_COUNT', 'CURR_ENT_ALL_ADDR_COUNT',
       'CURR_USG_ALL_ADDR_COUNT', 'PPD_ME', 'PPD_FIRST_NAME',
       'PPD_MIDDLE_NAME', 'PPD_LAST_NAME', 'PPD_SUFFIX',
       'PPD_POLO_MAILING_LINE_1', 'PPD_POLO_MAILING_LINE_2', 'PPD_POLO_CITY',
       'PPD_POLO_ZIP', 'PPD_TELEPHONE_NUMBER', 'PPD_FAX_NUMBER',
       'POST_ADDR_LINE1', 'POST_ADDR_LINE2', 'POST_CITY_CD', 'POST_STATE_CD',
       'POST_ZIP', 'ENT_COMM_BEGIN_DT', 'ENT_COMM_END_DT', 'ENT_COMM_COMM_ID',
       'ENT_COMM_ENTITY_ID', 'PRED_CLASS', 'PRED_PROBABILITY', 'RANK_ROUND',
       'TEST', 'TEST2', 'MAILING_LINE_1', 'MAILING_LINE_2', 'CITY_y', 'STATE',
       'ZIP_y', 'PPMA_MATCH'],
      dtype='object')

In [65]:
41187/len(all_)

0.0739596146421613

In [20]:
ALL_DATA = ALL_DATA.fillna('None')
11448
41562

In [48]:
test2 =[]
for row in ALL_DATA.itertuples():

In [71]:
all_ = all_.fillna('None')
test3 =[]
for row in all_.itertuples():

In [72]:
all_['PPMA_MATCH']=test3

In [49]:
ALL_DATA['TEST2']=test2

In [34]:
ALL_DATA.groupby(['TEST','PRED_CLASS']).count()

                  PARTY_ID      ME  POST_CD_ID  FROM_DT  ADDR_TYPE  ADDR_1  \
TEST  PRED_CLASS
False 0              39873   39873       39873    39873      39873   39873
      1             114598  114598      114598   114598     114598  114598
True  0              80202   80202       80202    80202      80202   80202
      1             322212  322212      322212   322212     322212  322212

                  ADDR_2  ADDR_3    CITY  STATE_CD  ...  POST_ADDR_LINE2  \
TEST  PRED_CLASS                                    ...
False 0            39873   39873   39873     39873  ...            39873
      1           114598  114598  114598    114598  ...           114598
True  0            80202   80202   80202     80202  ...            80202
      1           322212  322212  322212    322212  ...           322212

                  POST_CITY_CD  POST_STATE_CD  POST_ZIP  ENT_COMM_BEGIN_DT  \
TEST  PRED_CLASS
False 0                  39873          39873     39873              39873
      1                 114598         114598    114598             114598
True  0                  80202          80202     80202              80202
      1                 322212         322212    322212             322212

                  ENT_COMM_END_DT  ENT_COMM_COMM_ID  ENT_COMM_ENTITY_ID  \
TEST  PRED_CLASS
False 0                     39873             39873               39873
      1                    114598            114598              114598
True  0                     80202             80202               80202
      1                    322212            322212              322212

                  PRED_PROBABILITY  RANK_ROUND
TEST  PRED_CLASS
False 0                      39873       39873
      1                     114598      114598
True  0                      80202       80202
      1                     322212      322212

[4 rows x 72 columns]

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (13,20,42,49,72) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [56]:
all_ = pd.merge(ALL_DATA,PPD, on='ME')

In [44]:
ALL_DATA[ALL_DATA.RANK_ROUND == 1]

,PARTY_ID,ME,POST_CD_ID,FROM_DT,ADDR_TYPE,ADDR_1,ADDR_2,ADDR_3,CITY,STATE_CD,...,POST_STATE_CD,POST_ZIP,ENT_COMM_BEGIN_DT,ENT_COMM_END_DT,ENT_COMM_COMM_ID,ENT_COMM_ENTITY_ID,PRED_CLASS,PRED_PROBABILITY,RANK_ROUND,TEST
73,2970525,2878001055,29233812,2020-03-12 00:04:45.000000,Billing,119 Heiman St Ste 200,None,None,San Antonio,TX,...,CO,80015,00:00.0,14:36.8,4266668,16477652,0,0.030432,1,True
96,1977249,2105792118,30696345,2020-03-12 00:04:45.000000,Billing,1220 Gwinn St E,None,None,Monmouth,OR,...,OR,97301,00:00.0,14:36.8,4897775,4612669,0,0.017546,1,True
116,2319932,2803970885,30696427,2020-03-12 00:04:45.000000,Billing,91150 N Coburg Industrial Way,Serenity Lane Addiction Treatment Center,None,Coburg,OR,...,AZ,85704,00:00.0,14:36.8,9968037,6177180,0,0.055389,1,True
131,2217912,3607880327,30695446,2020-03-11 21:11:04.659191,Billing,8300 Health Park,Ste 312,Health Park Pediatrics,Raleigh,NC,...,NC,27613,00:00.0,14:36.8,6321038,8214358,0,0.052283,1,True
132,2217912,3607880327,30695446,2020-03-11 21:11:04.659191,Billing,8300 Health Park,Ste 312,Health Park Pediatrics,Raleigh,NC,...,NC,27615,00:00.0,14:36.8,24303095,8214358,0,0.116154,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556256,2431816,4706821436,15930106,2016-10-17 17:39:17.880053,Billing,400 N Highland Ave,None,None,Murfreesboro,TN,...,TN,37130,00:00.0,14:36.8,6227837,10244581,0,0.052056,1,True
556425,2746998,53906860011,13388084,2016-10-17 17:10:14.329026,Billing,299 Carew St,Ste 215,None,Springfield,MA,...,MA,1104,00:00.0,14:36.8,5900333,13210154,0,0.052444,1,False
556526,2795969,56101880066,13640484,2016-10-17 16:31:49.398678,Billing,1010 Clifton Ave,None,None,Clifton,NJ,...,NY,10011,00:00.0,14:36.8,3373713,13272762,0,0.092551,1,False
556529,2085553,2576840317,13903674,2016-10-17 16:31:13.306253,Billing,617 Stemmers Run Rd Ste A,None,None,Baltimore,MD,...,MD,21221,00:00.0,14:36.8,5292227,5755421,0,0.097614,1,True
556540,2366553,3547960954,14016421,2016-10-17 16:28:28.060991,Billing,2007 Rock Spring Rd,None,None,Forest Hill,MD,...,MD,21050,00:00.0,14:36.8,4525397,7961898,0,0.100629,1,False

In [70]:
fuzz.ratio('299 CAREW STREET','299 CAREW ST STE 215')

72