In [1]:
import pandas as pd

In [2]:
auto = pd.read_excel('../../Data/SRS/Automatic_Updates_2022-05-02.xlsx')
grad = pd.read_excel('../../Data/SRS/SRS_Graduation_Year_Discrepancy_2022-05-02.xlsx')

In [4]:
auto.aamc_id

0      14722517
1      15641367
2      15641369
3      15641377
4      13357501
         ...
134    14564772
135    14815948
136    14920296
137    14759744
138    14519079
Name: aamc_id, Length: 139, dtype: int64

In [6]:
pd.merge(grad, auto, on='aamc_id')

Empty DataFrame
Columns: [me, aamc_id, stud_id, grad_yr, CURRENT_GRAD_YEAR, school_id, edu_sts, edu_pref_cd, degree_cd, STATUS_CD, STATUS_DESC, STATUS_LBL, AMA Status, AMA Status Reason, AMA Rule, INST_TYPE_CD, INST_NAME_120, AMA_ID, Birth Country, Birth County, Birth State, Citizen Country, Curr Class Level, Curr Class Level Eff Date, Curr Exp Grad Date_x, Curr Med School Campus, Curr Status, Curr Status AcadYear, Curr Status Date_x, Current Degree Program, Date of Birth, Email, INST_ID, Legal Country, Legal County, Legal State, Matriculation Degree Program, Name, Preferred USMLE ID, RaceEthnicity, Sex, Visa Desc, NEW EDU_STS/ACTION, NEW STS REASON, NEW CATEGORY CODE, Curr Status Date_y, Curr Exp Grad Date_y]
Index: []

[0 rows x 47 columns]

In [7]:
grad.aamc_id

0      14779720
1      14278410
2      14505739
3      14499813
4      14511610
         ...
269    14102867
270    14199543
271    13790631
272    14320409
273    13783156
Name: aamc_id, Length: 274, dtype: int64

In [12]:
grad[['STATUS_CD','Curr Status','edu_sts','grad_yr','CURRENT_GRAD_YEAR']]

,STATUS_CD,Curr Status,edu_sts,grad_yr,CURRENT_GRAD_YEAR
0,44.0,Leave of Absence - Other Reasons,ENR,2025,2026
1,1.0,Returned from LOA,CHG,2023,2024
2,43.0,Leave of Absence - Health Reasons,LOA,2025,2026
3,1.0,Returned from LOA,ENR,2023,2024
4,45.0,Leave of Absence - Academic Remediation,ENR,2025,2026
...,...,...,...,...,...
269,1.0,Returned from LOA,ENR,2022,2023
270,45.0,Leave of Absence - Academic Remediation,REN,2021,2025
271,41.0,Participating in Non-Research Special Studies,ENR,2021,2023
272,44.0,Leave of Absence - Other Reasons,ENR,2024,2025
273,21.0,Transfer Out To U.S. Medical School,LOA,2023,None

In [18]:
columns = ['STUD_ID', 'SCHOOL_ID','RECENT_AMA_EDU_STS','CURRENT_AAMC_STATUS_CD','CURRENT_AAMC_STATUS','AAMC_CURRENT_STATUS_DATE','AAMC_CURRENT_EXP_GRAD_DATE','AMA_GRAD_YEAR','AAMC_CURRENT_GRAD_YEAR','AAMC_CURRENT_CLASS_LEVEL']

In [14]:
col_rename = {'stud_id':'STUD_ID',
              'school_id':'SCHOOL_ID',
              'edu_sts' : 'RECENT_AMA_EDU_STS',
              'Curr Status':'CURRENT_AAMC_STATUS',
              'STATUS_CD':'CURRENT_AAMC_STATUS_CD',
              'Curr Status Date':'AAMC_CURRENT_STATUS_DATE',
              'Curr Exp Grad Date':'AAMC_CURRENT_EXP_GRAD_DATE',
              'grad_yr':'AMA_GRAD_YEAR',
              'CURRENT_GRAD_YEAR':'AAMC_CURRENT_GRAD_YEAR', 
              'Curr Class Level':'AAMC_CURRENT_CLASS_LEVEL'
}

In [20]:
grad_test = grad.rename(columns = col_rename)[columns]

In [26]:
grad_test['CURRENT_AAMC_STATUS_CD'] = [str(x).split('.')[0] for x in grad_test['CURRENT_AAMC_STATUS_CD']]

In [37]:
grad_test.AAMC_CURRENT_EXP_GRAD_DATE = pd.to_datetime(grad_test.AAMC_CURRENT_EXP_GRAD_DATE, errors='coerce')

In [38]:
grad_test.dtypes

STUD_ID                                int64
SCHOOL_ID                              int64
RECENT_AMA_EDU_STS                    object
CURRENT_AAMC_STATUS_CD                object
CURRENT_AAMC_STATUS                   object
AAMC_CURRENT_STATUS_DATE      datetime64[ns]
AAMC_CURRENT_EXP_GRAD_DATE    datetime64[ns]
AMA_GRAD_YEAR                          int64
AAMC_CURRENT_GRAD_YEAR                object
AAMC_CURRENT_CLASS_LEVEL               int64
dtype: object

In [39]:
grad_test.to_csv('../../Data/SRS/SRS_Graduation_Year_Discrepancy_Update', sep='|', index=False)

In [4]:
hmm = pd.read_csv('../../Data/SRS/', sep='|')

In [5]:
hmm.fillna('')

,STUD_ID,SCHOOL_ID,RECENT_AMA_EDU_STS,CURRENT_AAMC_STATUS_CD,CURRENT_AAMC_STATUS,AAMC_CURRENT_STATUS_DATE,AAMC_CURRENT_EXP_GRAD_DATE,AMA_GRAD_YEAR,AAMC_CURRENT_GRAD_YEAR,AAMC_CURRENT_CLASS_LEVEL
0,63026457,14794711,LOA,45,Leave of Absence - Academic Remediation,2022-05-28,2026-06-06 00:00:00,2025,2026,1
1,68269669,14794711,ENR,45,Leave of Absence - Academic Remediation,2022-05-23,2026-06-06 00:00:00,2025,2026,1
2,56592494,14797077,ENR,1,Returned from LOA,2022-06-20,2024-05-01 00:00:00,2023,2024,3
3,62943062,14797077,ENR,44,Leave of Absence - Other Reasons,2022-06-17,2025-05-01 00:00:00,2024,2025,2
4,62930621,14797077,ENR,1,Returned from LOA,2022-05-12,2025-05-01 00:00:00,2024,2025,2
...,...,...,...,...,...,...,...,...,...,...
283,46889826,14795127,REN,47,Participating in Joint Degree Program,2017-01-02,2022-05-01 00:00:00,2023,2022,3
284,46889384,14795127,REN,47,Participating in Joint Degree Program,2017-01-02,2022-05-01 00:00:00,2023,2022,3
285,49300559,14795660,ENR,45,Leave of Absence - Academic Remediation,2022-04-30,2024-06-01 00:00:00,2023,2024,3
286,63044306,49155089,ENR,21,Transfer Out To U.S. Medical School,2022-05-11,,2024,None,2
287,62968880,14795231,ENR,21,Transfer Out To U.S. Medical School,2022-05-02,,2024,None,2

In [9]:
pd.to_datetime(hmm.AAMC_CURRENT_EXP_GRAD_DATE)
# remove time from a pandas series of dates

0     2026-06-06
1     2026-06-06
2     2024-05-01
3     2025-05-01
4     2025-05-01
         ...
283   2022-05-01
284   2022-05-01
285   2024-06-01
286          NaT
287          NaT
Name: AAMC_CURRENT_EXP_GRAD_DATE, Length: 288, dtype: datetime64[ns]

In [10]:
hmm.AAMC_CURRENT_EXP_GRAD_DATE.dtype

dtype('O')

In [11]:
hmm.AAMC_CURRENT_EXP_GRAD_DATE = pd.to_datetime(hmm.AAMC_CURRENT_EXP_GRAD_DATE, errors='coerce')
hmm.AAMC_CURRENT_EXP_GRAD_DATE = hmm.AAMC_CURRENT_EXP_GRAD_DATE.fillna('')

In [18]:
hmm.AAMC_CURRENT_EXP_GRAD_DATE = [x.date() if x != '' else x for x in hmm.AAMC_CURRENT_EXP_GRAD_DATE]

In [41]:
hmm.to_csv('../../Data/SRS/Test_2.txt', sep='|', index=False)

In [23]:
hmm = hmm.replace('None','')

In [31]:
hmm['CURRENT_AAMC_STATUS_CD'] = [str(x).split('.')[0] for x in hmm['CURRENT_AAMC_STATUS_CD']]

In [33]:
hmm = hmm.fillna('')

In [38]:
hmm = hmm.replace('nan','')

In [40]:
hmm[hmm.CURRENT_AAMC_STATUS_CD=='']

,STUD_ID,SCHOOL_ID,RECENT_AMA_EDU_STS,CURRENT_AAMC_STATUS_CD,CURRENT_AAMC_STATUS,AAMC_CURRENT_STATUS_DATE,AAMC_CURRENT_EXP_GRAD_DATE,AMA_GRAD_YEAR,AAMC_CURRENT_GRAD_YEAR,AAMC_CURRENT_CLASS_LEVEL
17,47820600,14796310,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-07-01,2024-05-01,2022,2024,2
18,48402714,14796310,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-07-01,2024-05-01,2023,2024,2
30,48046371,14795647,LOA,,"Completed Spec Stud, Resch or Jnt Degree",2018-05-31,2024-05-17,2025,2024,3
41,47799722,14797584,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-06-06,2024-04-20,2023,2024,2
43,47712947,14797584,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-06-06,2024-04-20,2023,2024,2
46,47800190,14797584,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-06-06,2024-04-20,2023,2024,2
64,48478972,14797844,LOA,,"Completed Spec Stud, Resch or Jnt Degree",2022-04-25,2024-05-01,2023,2024,2
68,48481078,14797844,LOA,,"Completed Spec Stud, Resch or Jnt Degree",2022-04-25,2024-05-01,2023,2024,2
78,48481767,14797844,LOA,,"Completed Spec Stud, Resch or Jnt Degree",2022-04-25,2024-05-01,2023,2024,2
85,51442401,14797844,CHG,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-02,2022-05-13,2023,2022,4
113,48399113,14796232,REN,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-21,2022-05-26,2023,2022,4
114,48852306,14796232,RLB,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-16,2022-05-26,2023,2022,4
115,54972486,14796115,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-09,2024-05-16,2023,2024,2
127,56466082,14796557,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-09,2024-05-17,2023,2024,3
128,45946988,14796557,LOA,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-01,2022-06-17,2021,2022,4
129,46153480,14796557,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-01,2022-06-17,2021,2022,4
130,56464795,14796557,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-09,2024-05-17,2023,2024,3
132,68361579,14797194,ENR,,Second time Enrollment,2022-07-05,2026-05-17,2025,2026,1
134,49255891,14796947,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-02-28,2024-05-01,2026,2024,2
135,48422773,14796947,LOA,,"Completed Spec Stud, Resch or Jnt Degree",2022-02-28,2024-05-01,2023,2024,2
136,48423150,14796947,LOA,,"Completed Spec Stud, Resch or Jnt Degree",2022-02-28,2024-05-01,2023,2024,2
137,47809394,14796947,REN,,"Completed Spec Stud, Resch or Jnt Degree",2022-02-28,2024-05-01,2025,2024,2
139,48423098,14796947,LOA,,"Completed Spec Stud, Resch or Jnt Degree",2022-02-28,2024-05-01,2023,2024,2
140,48423059,14796947,LOA,,"Completed Spec Stud, Resch or Jnt Degree",2022-02-28,2024-05-01,2023,2024,2
154,48194051,14795452,REN,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-22,2023-06-01,2024,2023,3
168,48474188,14797805,REN,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-09,2024-05-22,2023,2024,3
169,47651769,14797805,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-09,2024-05-22,2019,2024,3
172,47712427,14797805,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-09,2024-05-22,2019,2024,3
173,56518082,14797805,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-09,2024-05-22,2023,2024,3
175,46182925,14797272,LOA,,"Completed Spec Stud, Resch or Jnt Degree",2022-04-18,2024-05-20,2020,2024,2
176,49310439,14797272,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-29,2024-05-21,2025,2024,2
177,48450125,14797272,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-29,2024-05-21,2020,2024,2
178,48449865,14797272,LOA,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-29,2024-05-21,2023,2024,2
181,48369265,14795400,REN,,"Completed Spec Stud, Resch or Jnt Degree",2022-04-30,2024-04-27,2023,2024,3
218,47524512,14796336,LOA,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-09,2024-05-19,2022,2024,2
220,47522198,14796336,LOA,,"Completed Spec Stud, Resch or Jnt Degree",2022-05-09,2024-05-19,2022,2024,2
257,56565233,14798429,ENR,,"Completed Spec Stud, Resch or Jnt Degree",2022-04-18,2024-05-01,2023,2024,2
282,46959688,14795127,LOA,,"Completed Spec Stud, Resch or Jnt Degree",2022-03-25,2023-05-31,2022,2023,3

In [45]:
WITH_ID = pd.read_excel('../../Data/SRS/SRS_Graduation_Year_Discrepancy_2022-06-01.xlsx')

In [48]:
hmm.columns

Index(['STUD_ID', 'SCHOOL_ID', 'RECENT_AMA_EDU_STS', 'CURRENT_AAMC_STATUS_CD',
       'CURRENT_AAMC_STATUS', 'AAMC_CURRENT_STATUS_DATE',
       'AAMC_CURRENT_EXP_GRAD_DATE', 'AMA_GRAD_YEAR', 'AAMC_CURRENT_GRAD_YEAR',
       'AAMC_CURRENT_CLASS_LEVEL'],
      dtype='object')

In [53]:
HMM = pd.merge(WITH_ID[['stud_id','aamc_id']], hmm, left_on='stud_id',right_on='STUD_ID')

In [56]:
HMM['AAMC_ID'] = HMM.aamc_id.astype(str)

In [59]:
HMM[['AAMC_ID','STUD_ID', 'SCHOOL_ID', 'RECENT_AMA_EDU_STS', 'CURRENT_AAMC_STATUS_CD',
       'CURRENT_AAMC_STATUS', 'AAMC_CURRENT_STATUS_DATE',
       'AAMC_CURRENT_EXP_GRAD_DATE', 'AMA_GRAD_YEAR', 'AAMC_CURRENT_GRAD_YEAR',
       'AAMC_CURRENT_CLASS_LEVEL']].to_csv('../../Data/SRS/Test_2.txt', sep='|', index=False)

In [60]:
import os
import sys
os.path.dirname(sys.executable)

'C:\\Users\\vigrose\\AppData\\Local\\Continuum\\anaconda3'