In [3]:
import pandas as pd
import useful_functions as use

In [19]:
# dhc_file = use.get_newest('../../Data/DHC/','DHC_2')
# dhc = pd.read_csv(dhc_file, low_memory=False)
# dhc = dhc.fillna('None')
# dhc['ME'] = use.fix_me(dhc.ME)

other_dhc_file = use.get_newest('../../Data/DHC/','DHC_P')
other_dhc = pd.read_csv(other_dhc_file, low_memory=False)
other_dhc = other_dhc.fillna('None')
other_dhc['ME'] = use.fix_me(other_dhc.ME)

In [10]:
dhc = dhc[dhc.ME!='None']

In [20]:
other_dhc = other_dhc[other_dhc.ME!='None']

In [21]:
dhc[~dhc.ME.isin(other_dhc.ME)]

,NPI,ME,Additional Office Locations,Phone Number,Zip Code,State,City,Address,First Name,Physician Name,Middle Name,Primary Specialty,Primary Hospital Affiliation,Last Name,Address1
1583,1457519126,03575080234,None,None,11224,NY,Brooklyn,520 Neptune Ave,Inessa,Inessa Svistunova,None,Physical Medicine and Rehabilitation,None,Svistunova,None
2451,1477525970,02002111121,None,256.533.1600,35801,AL,Huntsville,201 Governors Dr Sw,Stephen,Stephen Sandwell,E,Surgery - Neurosurgery,"Athens-Limestone Hospital (Athens, AL)",Sandwell,None
2460,1477642841,04804090440,"Charlottesville, VA",540.332.4329,22939,VA,Fishersville,78 Medical Center Dr,Connie,Connie Jones,S,Anesthesiology - Anesthesiologist,"Augusta Health (Fishersville, VA)",Jones,None
3118,1487784534,66103070059,None,203.288.5278,"=""06457""",CT,Middletown,28 Crescent St,Joseph,Joseph Farah,None,Internal Medicine,Middlesex Hospital (AKA Middlesex Health Syste...,Farah,None
3667,1497733075,16001920107,"Lorain, OH",440.414.9260,44035,OH,Elyria,10325 Dewhurst Rd,Mushtaq,Mushtaq Mahmood,None,Internal Medicine,University Hospitals Elyria Medical Center (FK...,Mahmood,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921700,1619396108,04501140894,None,None,27705,NC,Durham,2301 Erwin Rd,Roopa,Roopa Shah,None,Nephrology,"Sampson Regional Medical Center (Clinton, NC)",Shah,None
921703,1932561081,03840161977,None,None,19104,PA,Philadelphia,3400 Spruce St,Meghan,Meghan Thompson,Caitlin,Other,None,Thompson,None
921711,1740840776,49521180101,None,None,89102,NV,Las Vegas,1701 W Charleston Blvd Ste 230,Ipsita,Ipsita Samanta,None,Other,University Medical Center (UMC) of Southern Ne...,Samanta,None
921718,1649730722,70437130122,None,None,12601,NY,Poughkeepsie,45 Reade Pl,Muhammad,Muhammad Israrulhaq,None,Other,"Vassar Brothers Medical Center (Poughkeepsie, NY)",Israrulhaq,None
921726,1982137204,01105170161,None,None,27710,NC,Durham,2301 Erwin Road,Matthew,Matthew Khayata,John,Other,None,Khayata,None

In [16]:
ppd = use.get_ppd()

INFO:useful_functions:PPD file from Mar 05 2022
C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (13,14,20,21,49,56,57,72) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [23]:
ppd[ppd.ME=='02002111121']

,ME,RECORD_ID,UPDATE_TYPE,ADDRESS_TYPE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,MAILING_LINE_1,...,POLO_STATE,POLO_ZIP,POLO_SECTOR,POLO_CARRIER_ROUTE,MOST_RECENT_FORMER_LAST_NAME,MOST_RECENT_FORMER_MIDDLE_NAME,MOST_RECENT_FORMER_FIRST_NAME,NEXT_MOST_RECENT_FORMER_LAST,NEXT_MOST_RECENT_FORMER_MIDDLE,NEXT_MOST_RECENT_FORMER_FIRST
288564,02002111121,A,1,2.0,STEPHEN E SANDWELL MD,SANDWELL,STEPHEN,EDWARD,NaN,NaN,...,AL,35801,5171.0,C013,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
other_dhc

,NPI,ME,Credentials,Age,Gender,Middle Name,First Name,Last Name,Physician Name
0,1528265030,04201040791,MD,43,Male,A.,Elfren,Colon,Elfren Colon
1,1447466313,49575000010,MD,50,Female,None,Rashmi,Kar,Rashmi Kar
2,1447468301,02106050565,MD,44,Female,M,Annette,Rhodes,Annette Rhodes
3,1447468970,04113040195,MD,46,Female,None,Susannah,Berke,Susannah Berke
4,1447469382,03575010503,DO,None,Female,None,Neda,Picuric,Neda Picuric
...,...,...,...,...,...,...,...,...,...
918452,1073001921,70425150632,MBBS,None,Male,None,Bilal,Hasan,Bilal Hasan
918453,1649806613,02701200325,MD,None,Male,Douglas,Thomas,Bateman,Thomas Bateman
918454,1992366264,13002181007,MD,None,Male,None,Ryan,Johal,Ryan Johal
918455,1649841909,00476210623,DO,None,Male,Robert,Joseph,Wells,Joseph Wells
918456,1942819404,60501100539,"MD, MPH, MSC",None,Male,Mounir,Elias,Elias,Elias Elias