In [3]:
import pandas as pd
import pyodbc
import useful_functions as use

In [4]:
ppd = use.get_ppd()

C:/Users/vigrose/Data/PPD\ppd_data_20210731.csv

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (13,14,20,21,49,56,57,72) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [5]:
username = 'vigrose'
password = 'Ravenclaw~10946'
s = "DSN=PRDDW; UID={}; PWD={}".format(username, password)
AMAEDW = pyodbc.connect(s)

In [7]:
query = \
    """
    SELECT
    PARTY_ID,
    ACTIVE_IND,
    DEATH_DT,
    UPDATE_TMSTP
    FROM
    AMAEDW.PERSON
    WHERE
    ACTIVE_IND = 'N'
    ;
    """
CHECK = pd.read_sql(con=AMAEDW, sql=query)
CHECK.head()

   PARTY_ID ACTIVE_IND DEATH_DT        UPDATE_TMSTP
0   3709005          N     None 2012-12-20 22:36:20
1   3709006          N     None 2006-06-23 09:34:18
2   3709007          N     None 2008-02-13 22:23:09
3   3709009          N     None 2006-08-22 19:35:14
4   3709011          N     None 2012-12-04 23:48:39

In [9]:
len(CHECK)

33627

In [14]:
ppd.groupby('TOP_CD').count()

,ME,RECORD_ID,UPDATE_TYPE,ADDRESS_TYPE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,MAILING_LINE_1,...,POLO_STATE,POLO_ZIP,POLO_SECTOR,POLO_CARRIER_ROUTE,MOST_RECENT_FORMER_LAST_NAME,MOST_RECENT_FORMER_MIDDLE_NAME,MOST_RECENT_FORMER_FIRST_NAME,NEXT_MOST_RECENT_FORMER_LAST,NEXT_MOST_RECENT_FORMER_MIDDLE,NEXT_MOST_RECENT_FORMER_FIRST
TOP_CD,,,,,,,,,,,,,,,,,,,,,
12,144352,144352,144352,141887,144352,144343,144349,102075,2573,31068,...,53125,53124,52920,53006,5781,3288,5781,152,101,152
20,817592,817592,817592,808355,817592,817579,817580,670306,22702,142801,...,722661,722955,714119,716616,190013,158970,190017,21959,17295,21959
30,13067,13067,13067,12820,13067,13067,13067,11650,619,2807,...,9933,9964,9787,9840,4516,4019,4515,594,495,594
40,12294,12294,12294,12075,12294,12293,12293,10147,374,3104,...,10218,10256,10099,10145,3368,2940,3368,390,330,390
50,12617,12617,12617,12316,12617,12617,12617,10714,448,3688,...,9788,9864,9648,9700,3745,3237,3745,431,353,431
62,4684,4684,4684,4608,4684,4684,4684,3998,144,627,...,3180,3185,3148,3163,1554,1353,1554,240,196,240
71,168579,168579,168579,163922,168579,168576,168579,145182,9283,18930,...,88990,89567,86358,87534,65340,56425,65339,7805,6385,7806
72,19504,19504,19504,19271,19504,19504,19504,16676,940,1757,...,14422,14425,14195,14292,7621,6442,7621,1058,839,1058
74,3992,3992,3992,3929,3992,3992,3992,3313,79,303,...,1272,1273,1227,1242,1695,1413,1695,255,197,255
75,14159,14159,14159,13547,14159,14158,14159,11531,555,1409,...,5984,6027,5644,5779,6204,5216,6203,671,538,671
100,91154,91154,91154,88313,91154,91151,91149,57551,1099,21968,...,53543,53647,53198,53352,6457,4608,6457,315,220,315

In [18]:
ppd[(ppd.TOP_CD==71)&(ppd.PRESUMED_DEAD_FLAG!='D')]

,ME,RECORD_ID,UPDATE_TYPE,ADDRESS_TYPE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,MAILING_LINE_1,...,POLO_STATE,POLO_ZIP,POLO_SECTOR,POLO_CARRIER_ROUTE,MOST_RECENT_FORMER_LAST_NAME,MOST_RECENT_FORMER_MIDDLE_NAME,MOST_RECENT_FORMER_FIRST_NAME,NEXT_MOST_RECENT_FORMER_LAST,NEXT_MOST_RECENT_FORMER_MIDDLE,NEXT_MOST_RECENT_FORMER_FIRST
519,00102030451,A,1,2.0,SUMMERPAL S KAHLON MD,KAHLON,SUMMERPAL,SINGH,NaN,NaN,...,FL,32901,3104.0,C034,NaN,NaN,NaN,NaN,NaN,NaN
692,00102040627,A,1,2.0,JEFFERY L WALDING MD,WALDING,JEFFERY,LAWRENCE,NaN,NaN,...,AL,36303,1908.0,C017,NaN,NaN,NaN,NaN,NaN,NaN
1123,00102070305,A,1,2.0,JESSICA R WILLIAMS MD,WILLIAMS,JESSICA,RIAN,NaN,NaN,...,AL,36854,3549.0,C005,NaN,NaN,NaN,NaN,NaN,NaN
1291,00102080386,A,1,1.0,JAMES N ROBINSON MD,ROBINSON,JAMES,N,NaN,ATTN: CREDENTIALING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1555,00102091591,A,1,2.0,SARAH E BAXLEY MD,BAXLEY,SARAH,EMILY,NaN,UNIT203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1301690,95708760073,A,1,2.0,MIMA BACIC MD,BACIC,MIMA,NaN,NaN,UNIT101,...,NaN,NaN,NaN,NaN,BACIC,NaN,FATIMA,MEHIC,NaN,FATIMA
1301802,95708880150,A,1,2.0,SLOBODAN KALABA MD,KALABA,SLOBODAN,NaN,NaN,3-45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1301850,95709760018,A,1,2.0,MIRASH CAMAJ MD,CAMAJ,MIRASH,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1301924,96501760037,A,1,1.0,JULIETTE TUAKLI MD,TUAKLI,JULIETTE,NaN,NaN,NaN,...,MA,02115,5724.0,C052,TUAKLI,M,JULIETTE,NaN,NaN,NaN
1301930,96501780011,A,1,1.0,MWAMBA B KAWIMBE MD,KAWIMBE,MWAMBA,BONIFALE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN