In [37]:
import pandas as pd
import useful_functions as use
import random

In [5]:
gov = pd.read_csv(use.get_newest('../../Data/DataGov','All_Data'))
ppd = use.get_ppd()

C:/Users/vigrose/Data/PPD\ppd_data_20210612.csv

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (13,14,20,21,42,49,56,57,72) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [20]:
gov = gov[gov.phn_numbr!='None']

In [21]:
no_dupes = gov.drop_duplicates('ME',keep=False)

In [22]:
dupes = gov[gov.ME.isin(no_dupes.ME)==False]

In [28]:
dupes = dupes.sort_values('ME')

In [30]:
dupes['TELEPHONE_NUMBER'] = [str(x).replace('.0','')[:10] for x in dupes.phn_numbr]

In [32]:
OKAY = dupes.drop_duplicates(['ME','TELEPHONE_NUMBER','adrs_id'])

In [43]:
no_dupes_OKAY = OKAY.drop_duplicates('ME',keep=False)

In [44]:
OKAY_dupes = OKAY[OKAY.ME.isin(no_dupes_OKAY.ME)==False]

In [45]:
OKAY_dupes

,frst_nm,mid_nm,lst_nm,adrs_id,adr_ln_1,adr_ln_2,cty,st,zip,org_pac_id,phn_numbr,NPI,ME,TELEPHONE_NUMBER
570341,NADHIWAN,None,SAKARIN-MAISIAK,AZ853755282SU14502BLVD400,14502 W MEEKER BLVD,None,SUN CITY,AZ,853755282,3.27478e+09,6235244000.0,1528054913,102000048,6235244000
570342,NADHIWAN,None,SAKARIN-MAISIAK,AZ853513004SU10401BLVD400,10401 W THUNDERBIRD BLVD,None,SUN CITY,AZ,853513004,3.27478e+09,6238324000.0,1528054913,102000048,6238324000
570340,NADHIWAN,None,SAKARIN-MAISIAK,AZ850062612PH1111XRDXX400,1111 E MCDOWELL RD,None,PHOENIX,AZ,850062612,3.27478e+09,6028396260.0,1528054913,102000048,6028396260
1920646,RAJIV,B,GALA,LA701212429NE1514XHWYX300,1514 JEFFERSON HWY,None,NEW ORLEANS,LA,701212429,8224933619.0,5.04842e+09,1477519775,102000056,5048423000
1173707,RAJIV,B,GALA,LA701156969NE2820XAVEX300,2820 NAPOLEON AVE,None,NEW ORLEANS,LA,701156969,8.22493e+09,5048425300.0,1477519775,102000056,5048425300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562769,GEORGE,N,MWANDIA,OH452552439CI7500XRDXX300,7500 STATE RD,None,CINCINNATI,OH,452552439,3.17395e+09,5136244500.0,1457664344,96501980029,5136244500
2790987,GEORGE,N,MWANDIA,OH447082614CA1320XNWXX400,1320 MERCY DR NW,None,CANTON,OH,447082614,4284538430.0,3.30489e+09,1457664344,96501980029,3304891000
562771,GEORGE,N,MWANDIA,OH452552439CI7500XRDXX300,7500 STATE RD,None,CINCINNATI,OH,452552439,4.28454e+09,5139563729.0,1457664344,96501980029,5139563729
562773,GEORGE,N,MWANDIA,OH454092939DA30XXXSTXX404,30 E APPLE ST,SUITE 3300,DAYTON,OH,454092939,9.53707e+09,9372088394.0,1457664344,96501980029,9372088394
2790988,GEORGE,N,MWANDIA,OH452111103CI3300XBLVD400,3300 MERCY HEALTH BLVD,None,CINCINNATI,OH,452111103,3779749197.0,5.13216e+09,1457664344,96501980029,5132155000

In [129]:
mes = random.sample(list(this_dupes.ME.unique()),17000)

In [130]:
MAYBE = this_dupes[this_dupes.ME.isin(mes)].drop_duplicates('TELEPHONE_NUMBER')

In [ ]:
this_dict = {}
adds = []
phones = []
for row in OKAY_dupes.itertuples():
    if row.ME in this_dict.keys():
        if row.adrs_id in this_dict[row.ME]:
            REPEATED_ADDRESS == True
        else:
            this_dict[row.ME].append(row.adrs_id)
            REPEATED_ADDRESS = False
        if row.TELEPHONE_NUMBER in this_dict[row.ME]:
            REPEATED_PHONE == True
        else:
            this_dict[row.ME].append(row.TELEPHONE_NUMBER)
            REPEATED_PHONE = False
    else:
        this_dict[row.ME] = [row.adrs_id,row.TELEPHONE_NUMBER]

In [55]:
unique_add = OKAY_dupes.drop_duplicates(['ME','adrs_id'], keep=False)

In [54]:
unique_phone = OKAY_dupes.drop_duplicates(['ME','TELEPHONE_NUMBER'], keep=False)

In [58]:
just_this = unique_phone.drop_duplicates(['ME','adrs_id'], keep=False)

In [62]:
no_dupes_this = just_this.drop_duplicates('ME',keep=False)
this_dupes = just_this[just_this.ME.isin(no_dupes_this.ME)==False]

In [64]:
no_dupes_this

,frst_nm,mid_nm,lst_nm,adrs_id,adr_ln_1,adr_ln_2,cty,st,zip,org_pac_id,phn_numbr,NPI,ME,TELEPHONE_NUMBER
1346421,REBECCA,M,SUGG,AL366172300MO2451XDRXX401,2451 UNIVERSITY HOSPITAL DR,BLDG C,MOBILE,AL,366172300,9931436912.0,2514458242.0,1982656773,102000196,2514458242
1168446,DAVID,C,PRICE,NC287394137HE805XXWXXX400,805 6TH AVE W,None,HENDERSONVILLE,NC,287394137,8.12394e+09,8286961330.0,1710984166,102000421,8286961330
2584178,DONALD,E,YARBROUGH,OR973303737CO3600XDRXX400,3600 NW SAMARITAN DR,None,CORVALLIS,OR,973303737,1557270725.0,5417685111.0,1578599437,102000668,5417685111
2100012,SANDEEP,D,SULE,TX752512272DA12221DRXX301,12221 MERIT DR,Suite 1060,DALLAS,TX,752512272,None,9729602950.0,1972512325,102000811,9729602950
2293989,CATHERINE,A,SKINNER,AL354763270NO1325XNXXX401,1325 MCFARLAND BLVD N,SUITE 102,NORTHPORT,AL,354763270,6103724489.0,2.05349e+09,1922107499,102001753,2053486122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384703,SLOBODAN,None,KALABA,UT846315137FI700XX99XX401,700 S HWY 99,SUITE 3,FILLMORE,UT,846315137,1.85021e+09,4357435555.0,1881830693,95708880150,4357435555
303310,RENATA,None,SELAK STANKOVIC,CA904042139SA2020XBLVD404,2020 SANTA MONICA BLVD,SUITE 210,SANTA MONICA,CA,904042139,1.35525e+09,3104582381.0,1023065620,95708890104,3104582381
649536,MILICA,None,BOGDANOVIC STARCEVC,FL333162510FO1600XBLDG600,1600 S ANDREWS AVE ATRIUM BLDG,None,FORT LAUDERDALE,FL,333162510,3.57747e+09,9547607171.0,1891899407,95708900061,9547607171
1639182,RAME,DEME,IBERDEMAJ,CA936375693MA1000XAVEX400,1000 E ALMOND AVE,None,MADERA,CA,936375693,None,5594360871.0,1922294453,95709850025,5594360871
1423740,JAYESHKUMAR,A,PATEL,TX770301501HO6431XSTXX304,6431 FANNIN ST,SUITE MSB 2100,HOUSTON,TX,770301501,8426960360.0,7135007700.0,1730195793,96501880041,7135007700

In [131]:
no_dupes_MAYBE = MAYBE.drop_duplicates('ME',keep=False)
dupes_MAYBE = MAYBE[MAYBE.ME.isin(no_dupes_MAYBE.ME)==False]
dupes_MAYBE

,frst_nm,mid_nm,lst_nm,adrs_id,adr_ln_1,adr_ln_2,cty,st,zip,org_pac_id,phn_numbr,NPI,ME,TELEPHONE_NUMBER
1920646,RAJIV,B,GALA,LA701212429NE1514XHWYX300,1514 JEFFERSON HWY,None,NEW ORLEANS,LA,701212429,8224933619.0,5.04842e+09,1477519775,102000056,5048423000
1173707,RAJIV,B,GALA,LA701156969NE2820XAVEX300,2820 NAPOLEON AVE,None,NEW ORLEANS,LA,701156969,8.22493e+09,5048425300.0,1477519775,102000056,5048425300
1723381,BYRON,None,COLLEY,MS392164606JA969XXDRXX300,969 LAKELAND DR,None,JACKSON,MS,392164606,4385531847.0,6013646175.0,1679665640,102000269,6013646175
1723382,BYRON,None,COLLEY,MS392164634JA970XXDRXX305,970 LAKELAND DR,SUITE 61,JACKSON,MS,392164634,547204091.0,6019827850.0,1679665640,102000269,6019827850
451110,MELINDA,B,HART,AL350580689CU1890X300X500,1890 AL HWY 157 300,None,CULLMAN,AL,350580689,2.36535e+09,2567378000.0,1174528020,102000447,2567378000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729857,OLGICA,None,LABAN GRANT,NY125241883FI21XXXSTXX402,21 OLD MAIN ST,SUITE 101,FISHKILL,NY,125241883,4.0825e+09,8456956884.0,1639158462,95702910111,8456956884
718093,MARIJA,None,PETROVIC,MI498541234MA125XXSTXX400,125 N LAKE ST,None,MANISTIQUE,MI,498541234,3.87051e+09,9063412144.0,1225138530,95702970033,9063412144
718092,MARIJA,None,PETROVIC,MI497839286SA3865XTRLX400,3865 S MACKINAC TRL,None,SAULT SAINTE MARIE,MI,497839286,3.87051e+09,9066322805.0,1225138530,95702970033,9066322805
721217,CIRIL,J,GODEC,NY112235940BR260XXXXXX300,260 AVE X,None,BROOKLYN,NY,112235940,8.72907e+09,7183368855.0,1912901679,95703630023,7183368855
721216,CIRIL,J,GODEC,NY112192916BR4802XAVEX300,4802 10TH AVE,None,BROOKLYN,NY,112192916,3.87077e+09,7182837746.0,1912901679,95703630023,7182837746

In [86]:
dupes_MAYBE.columns

Index(['frst_nm', 'mid_nm', 'lst_nm', 'adrs_id', 'adr_ln_1', 'adr_ln_2', 'cty',
       'st', 'zip', 'org_pac_id', 'phn_numbr', 'NPI', 'ME',
       'TELEPHONE_NUMBER'],
      dtype='object')

In [96]:
COLS = {'adr_ln_1':'POLO_MAILING_LINE_2', 'adr_ln_2':'POLO_MAILING_LINE_1', 'cty':'POLO_CITY',
       'st':'POLO_STATE', 'description':'DESCRIPTION'}

In [132]:
dupes_MAYBE['ME'] = use.fix_me(dupes_MAYBE.ME)

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [133]:
mwah = pd.merge(ppd[['ME','FIRST_NAME','MIDDLE_NAME','LAST_NAME','SUFFIX','PRIM_SPEC_CD','PE_CD','FAX_NUMBER','TOP_CD']], dupes_MAYBE, on='ME')
pe_cd = pd.read_excel('../../Data/AMAIA/PRESENT_EMPLOYMENT_CODE_KEY.xlsx')
mwah = pd.merge(mwah, pe_cd, left_on='PE_CD', right_on='present_emp_cd')

In [92]:
pe_cd = pd.read_excel('../../Data/AMAIA/PRESENT_EMPLOYMENT_CODE_KEY.xlsx')
mwah = pd.merge(mwah, pe_cd, left_on='PE_CD', right_on='present_emp_cd')

In [138]:
mwah = pd.merge(mwah, pe_cd, left_on='PE_CD', right_on='present_emp_cd')

In [139]:
mwah = mwah.rename(columns = COLS)

In [100]:
bolo = pd.read_excel(use.get_newest('../../Data/PhoneAppend/','Bing_BOLO'))

In [140]:
mwah['POLO_ZIP'] = [use.fix_zipcode(x) for x in mwah.zip]

In [144]:
mwah.to_excel('../../Data/DataGov/DataGov_Multiples.xlsx', index=False)

In [123]:
mwah[:18000]

,ME,FIRST_NAME,MIDDLE_NAME,LAST_NAME,SUFFIX,PRIM_SPEC_CD,PE_CD,FAX_NUMBER,frst_nm,mid_nm,...,POLO_CITY,POLO_STATE,zip,org_pac_id,phn_numbr,NPI,TELEPHONE_NUMBER,present_emp_cd,DESCRIPTION,POLO_ZIP
0,00102000226,WAYNE,C,ANDERSON,NaN,FM,30,7.274672e+09,WAYNE,C,...,CLEARWATER,FL,337631726,6406753623.0,7277255060.0,1912958414,7277255060,30,Group Practice,33763
1,00102000226,WAYNE,C,ANDERSON,NaN,FM,30,7.274672e+09,WAYNE,C,...,CLEARWATER,FL,337554254,6.40675e+09,7274672400.0,1912958414,7274672400,30,Group Practice,33755
2,00102000251,ROBERT,PEARCE,BOLLING,NaN,PS,30,2.059324e+09,ROBERT,P,...,FOLEY,AL,365352229,9133291099.0,2519284405.0,1477509925,2519284405,30,Group Practice,36535
3,00102000251,ROBERT,PEARCE,BOLLING,NaN,PS,30,2.059324e+09,ROBERT,P,...,FAIRHOPE,AL,365322018,9.13329e+09,2057480158.0,1477509925,2057480158,30,Group Practice,36532
4,00102010116,MERLE,LINDY,WADE,NaN,U,30,2.564924e+09,MERLE,L,...,GADSDEN,AL,359031156,749254241.0,2564924040.0,1033167465,2564924040,30,Group Practice,35903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,03501000611,YVONNE,MARGARET,SAENGER,NaN,HO,50,2.123057e+09,YVONNE,M,...,NEW YORK,NY,100323729,6.00272e+09,2123055098.0,1235363664,2123055098,50,Non-Government Hospital,10032
17996,03501000611,YVONNE,MARGARET,SAENGER,NaN,HO,50,2.123057e+09,YVONNE,M,...,NEW YORK,NY,100323720,6.00272e+09,2123059460.0,1235363664,2123059460,50,Non-Government Hospital,10032
17997,03501850437,ROBERT,JOHN,DOWNEY,NaN,TS,50,6.464222e+09,ROBERT,J,...,MIDDLETOWN,NJ,77483052,1153619291.0,9085423007.0,1346229606,9085423007,50,Non-Government Hospital,07748
17998,03501850437,ROBERT,JOHN,DOWNEY,NaN,TS,50,6.464222e+09,ROBERT,J,...,NEW YORK,NY,100213402,345131405.0,6466081662.0,1346229606,6466081662,50,Non-Government Hospital,10021
17999,03503030526,SETH,NaN,MENSAH,NaN,IM,50,NaN,SETH,None,...,SHORTSVILLE,NY,145489763,3274428586.0,5852893560.0,1104911197,5852893560,50,Non-Government Hospital,14548

In [118]:
len(mwah)

19539

In [134]:
mwah.groupby('TOP_CD').count()

,ME,FIRST_NAME,MIDDLE_NAME,LAST_NAME,SUFFIX,PRIM_SPEC_CD,PE_CD,FAX_NUMBER,frst_nm,mid_nm,...,adrs_id,adr_ln_1,adr_ln_2,cty,st,zip,org_pac_id,phn_numbr,NPI,TELEPHONE_NUMBER
TOP_CD,,,,,,,,,,,,,,,,,,,,,
12,247,247,198,247,2,247,247,12,247,247,...,247,247,247,247,247,247,247,247,247,247
20,18329,18329,15306,18329,594,18329,18329,14216,18329,18329,...,18329,18329,18329,18329,18329,18329,18329,18329,18329,18329
30,78,78,72,78,4,78,78,61,78,78,...,78,78,78,78,78,78,78,78,78,78
40,136,136,114,136,2,136,136,74,136,136,...,136,136,136,136,136,136,136,136,136,136
50,48,48,35,48,0,48,48,33,48,48,...,48,48,48,48,48,48,48,48,48,48
62,33,33,29,33,0,33,33,17,33,33,...,33,33,33,33,33,33,33,33,33,33
71,223,223,204,223,12,223,223,110,223,223,...,223,223,223,223,223,223,223,223,223,223
72,177,177,157,177,11,177,177,135,177,177,...,177,177,177,177,177,177,177,177,177,177
74,24,24,20,24,0,24,24,17,24,24,...,24,24,24,24,24,24,24,24,24,24
75,34,34,34,34,0,34,34,9,34,34,...,34,34,34,34,34,34,34,34,34,34
100,898,898,634,898,14,898,898,132,898,898,...,898,898,898,898,898,898,898,898,898,898

In [137]:
mwah = mwah[mwah.TOP_CD==20]

In [145]:
list(bolo.columns)

['ME',
 'FIRST_NAME',
 'MIDDLE_NAME',
 'LAST_NAME',
 'SUFFIX',
 'POLO_MAILING_LINE_1',
 'POLO_MAILING_LINE_2',
 'POLO_CITY',
 'POLO_STATE',
 'POLO_ZIP',
 'TELEPHONE_NUMBER',
 'PRIM_SPEC_CD',
 'DESCRIPTION',
 'PE_CD',
 'FAX_NUMBER']