In [1]:
import pandas as pd
import useful_functions as use
import psycopg2
import pyodbc
import datetime

In [2]:
username = 'vigrose'
password_edw = 'Slytherin~10946'
w = "DSN=MDM; UID={}; PWD={}".format(username, password_edw)
STG = pyodbc.connect(w)

In [3]:
denom = '''
    SELECT X.ROWID_XREF
    FROM 
    STG.C_B_PTY_RLE_XREF X
    WHERE 
    X.ROWID_SYSTEM = 'NPI'
    AND
    X.HUB_STATE_IND = 1
    '''
DENOM = pd.read_sql(con=STG, sql=denom)

In [4]:
test = '''
    SELECT 
    S.RAW_SPCLTY,
    X.ROWID_XREF,
    S.PTY_RLE_FK
    FROM 
    STG.C_B_PTY_RLE_XREF X, STG.C_B_PTY_RLE_SPCLTY_XREF S
    WHERE 
    X.ROWID_SYSTEM = 'NPI'
    AND
    S.ROWID_SYSTEM = 'NPI'
    AND
    S.HUB_STATE_IND = 1
    AND
    X.HUB_STATE_IND = 1
    AND 
    S.PTY_RLE_FK = X.ROWID_XREF
    '''
TEST = pd.read_sql(con=STG, sql=test)

In [26]:
TEST.drop_duplicates('PTY_RLE_FK')

         RAW_SPCLTY  ROWID_XREF  PTY_RLE_FK
0        235Z00000X    13587798    13587798
1        1223G0001X     9948287     9948287
2        106E00000X     9956132     9956132
3        111N00000X    13588835    13588835
4        122300000X    13595929    13595929
...             ...         ...         ...
2683822  207Q00000X     6403711     6403711
2683823  207Q00000X     6383774     6383774
2683825  207X00000X     6403618     6403618
2683827  207P00000X     6404499     6404499
2683828  207P00000X     6385989     6385989

[2223517 rows x 3 columns]

In [27]:
DENOM[~DENOM.ROWID_XREF.isin(TEST.PTY_RLE_FK)]

         ROWID_XREF
3094        5488389
3192        5501689
3547        5501017
3728        5506590
3880        5522691
...             ...
2311771    13079051
2311772    13079055
2311773    13079057
2311774    13079072
2311776    13090997

[88260 rows x 1 columns]

In [28]:
ppd = use.get_ppd()

INFO:useful_functions:PPD file from Feb 19 2022
C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (13,14,20,21,49,56,57,72) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [31]:
ppd[['FIPS_COUNTY', 'FIPS_STATE', 'REGION', 'DIVISION', 'GROUP',
       'TRACT', 'SUFFIX_CENSUS', 'BLOCK_GROUP', 'MSA_POPULATION_SIZE',
       'MICRO_METRO_IND', 'CBSA']]

,FIPS_COUNTY,FIPS_STATE,PRINTER_CONTROL_CODE,REGION,DIVISION,GROUP,TRACT,SUFFIX_CENSUS,BLOCK_GROUP,MSA_POPULATION_SIZE,MICRO_METRO_IND,CBSA
0,117.0,1.0,!,3.0,6.0,5.0,127.0,3.0,3.0,B,1.0,13820.0
1,183.0,37.0,!,3.0,5.0,6.0,537.0,27.0,3.0,A,1.0,39580.0
2,119.0,37.0,!,3.0,5.0,6.0,35.0,0.0,1.0,A,1.0,16740.0
3,13.0,4.0,!,4.0,8.0,6.0,2168.0,45.0,1.0,A,1.0,38060.0
4,71.0,22.0,!,3.0,7.0,6.0,133.0,1.0,1.0,A,1.0,35380.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1308536,135.0,13.0,!,3.0,5.0,6.0,NaN,NaN,NaN,A,1.0,12060.0
1308537,9.0,25.0,!,1.0,1.0,6.0,2104.0,2.0,2.0,A,1.0,14460.0
1308538,81.0,37.0,!,3.0,5.0,6.0,161.0,1.0,1.0,A,1.0,24660.0
1308539,81.0,37.0,!,3.0,5.0,6.0,161.0,1.0,1.0,A,1.0,24660.0
1308540,113.0,39.0,!,2.0,3.0,6.0,401.0,1.0,1.0,B,1.0,19430.0