In [1]:
import pandas as pd
import pyodbc
from datamart import fix_me
username = 'vigrose'
password_edw = 'Gryffindor~10946'

In [2]:
ppd = pd.read_csv('../../Data/DataGov/PPD_MATCH_phone.csv')

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (8,9,23,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
w = "DSN=PRDDW; UID={}; PWD={}".format(username, password_edw)
AMAEDW = pyodbc.connect(w)

In [4]:
ppd['ME']=fix_me(ppd.ME)
mes = tuple(ppd.head(50000).ME)

In [5]:
    sql_query = \
        f'''
        SELECT DISTINCT
        A.PARTY_ID,
        V.ME,
        A.POST_CD_ID,
        P.ADDR_1,
        P.ADDR_2,
        P.ADDR_3,
        P.CITY,
        S.SRC_STATE_CD AS STATE_CD,
        P.POST_CD AS ZIP,
        A.FROM_DT,
        CC.DESC,
        CC.CATEGORY_CODE
        FROM
        AMAEDW.POST_CD P, AMAEDW.STATE S , AMAEDW.PARTY_ADDR A, AMAEDW.CAT_CD CC, AMAEDW.PARTY_ID_TO_ME_VW V, AMAEDW.CONT_PURPOSE_TYPE C
        WHERE
        A.POST_CD_ID = P.POST_CD_ID
        AND
        P.STATE_ID = S.STATE_ID
        AND
        A.THRU_DT IS NULL
        AND
        CC.CAT_CD_ID = A.CAT_CD_ID
        AND
        V.PARTY_ID = A.PARTY_ID
        AND
        V.ME in {mes}
        AND
        A.PURPOSE_TYPE_ID=C.PURPOSE_TYPE_ID
        AND
        C.PURPOSE_USG_CD='PO'
        '''

In [6]:
z = 50000
chunks = [50000]
for x in list(range(15)):
    z+=20000
    print(z)
    chunks.append(z)

70000
90000
110000
130000
150000
170000
190000
210000
230000
250000
270000
290000
310000
330000
350000

In [8]:
for chunk in chunks:
    mes = tuple(ppd[chunk:chunk+20000].ME)
    sql_query = \
        f'''
        SELECT DISTINCT
        A.PARTY_ID,
        V.ME,
        A.POST_CD_ID,
        P.ADDR_1,
        P.ADDR_2,
        P.ADDR_3,
        P.CITY,
        S.SRC_STATE_CD AS STATE_CD,
        P.POST_CD AS ZIP,
        A.FROM_DT,
        C.DESC,
        C.CATEGORY_CODE
        FROM
        AMAEDW.POST_CD P, AMAEDW.STATE S , AMAEDW.PARTY_ADDR A, AMAEDW.CAT_CD C, AMAEDW.PARTY_ID_TO_ME_VW V
        WHERE
        A.POST_CD_ID = P.POST_CD_ID
        AND
        P.STATE_ID = S.STATE_ID
        AND
        A.THRU_DT IS NULL
        AND
        C.CAT_CD_ID = A.CAT_CD_ID
        AND
        V.PARTY_ID = A.PARTY_ID
        AND
        V.ME in {mes}
        '''
    new_usages = pd.read_sql(con=AMAEDW, sql=sql_query)
    usages = pd.concat([usages, new_usages])
    print(f'{chunk} finished. {len(new_usages)} added.')

50000 finished. 145938 added.
70000 finished. 144928 added.
90000 finished. 145106 added.
110000 finished. 145750 added.
130000 finished. 144331 added.
150000 finished. 144059 added.
170000 finished. 145304 added.
190000 finished. 144848 added.
210000 finished. 144707 added.
230000 finished. 144627 added.
250000 finished. 145217 added.
270000 finished. 145355 added.
290000 finished. 144572 added.
310000 finished. 145190 added.
330000 finished. 145473 added.
350000 finished. 32145 added.

In [7]:
usages = pd.read_sql(con=AMAEDW, sql=sql_query)

In [9]:
len(ppd)

354435

In [25]:
ppd['POLO_MAILING_LINE_2']

0                 14502 W MEEKER BLVD
1               4429 CLARA ST STE 400
2              300 N AIRPORT RD STE 2
3         208 MCFARLAND CIR N STE 100
4                     2880 DAUPHIN ST
                     ...
354336             3235 N WINDSONG DR
354337                540 W PUEBLO ST
354338            1000 DUTCH RIDGE RD
354339                730 W MARKET ST
354340          1 MEDICAL CENTER BLVD
Name: POLO_MAILING_LINE_2, Length: 354341, dtype: object

In [58]:
usages

,PARTY_ID,ME,POST_CD_ID,ADDR_1,ADDR_2,ADDR_3,CITY,STATE_CD,ZIP,FROM_DT,DESC,CATEGORY_CODE
0,3458344,00576021372,9447016,2600 Redondo Ave,,,Long Beach,CA,90806,2016-10-17 14:23:06.699740,Group Roster/Census,GROUP
1,1880099,01103930851,12258771,1000 36th St,,,Vero Beach,FL,32960,2016-10-17 14:23:08.084275,Group Roster/Census,GROUP
2,1888761,00102720873,16274554,701 Princeton Ave SW,,,Birmingham,AL,35211,2016-10-17 14:23:08.590263,Group Roster/Census,GROUP
3,1799981,00102951930,16274554,701 Princeton Ave SW,,,Birmingham,AL,35211,2016-10-17 14:23:08.664613,Group Roster/Census,GROUP
4,1798521,00102741030,16274555,PO Box 798,,,Florence,AL,35631,2016-10-17 14:23:08.855170,FAST-TRACK,FAST-TRACK
...,...,...,...,...,...,...,...,...,...,...,...,...
368232,1922774,01401780889,32118357,1029 Kapahulu Ave,Ste 301,,Honolulu,HI,96816,2021-03-15 20:48:26.929312,Membership Join Renew physician address.,JOIN-RENEW
368233,4895962,00519110148,14169661,15 McCabe Dr,# 200,,Reno,NV,89511,2021-03-16 00:04:23.000000,State Licensure,LICENSURE
368234,1817700,00518811045,31954116,774 Mays Blvd,Ste 10,PMB 714,Incline Vlg,NV,89451,2021-03-16 00:04:23.000000,State Licensure,LICENSURE
368235,1817571,00518820648,32119335,PO BOX 183,None,None,DAVIS,CA,95617,2021-03-16 00:04:23.000000,State Licensure,LICENSURE
368236,1805682,00502801015,32119342,STE B11,3150 W SAHARA AVE,None,LAS VEGAS,NV,89102,2021-03-16 00:04:23.000000,State Licensure,LICENSURE

In [10]:
usages = usages.fillna('None')

In [11]:
usages['POLO_MAILING_LINE_2']=[x.upper() for x in usages.ADDR_1]

In [12]:
sourcing = pd.merge(usages, ppd, on=['ME','POLO_MAILING_LINE_2'])

In [75]:
ppd[ppd.ME.isin(usages.ME)==False]

Empty DataFrame
Columns: [ME, RECORD_ID, UPDATE_TYPE, ADDRESS_TYPE, MAILING_NAME, LAST_NAME, FIRST_NAME, MIDDLE_NAME, SUFFIX, MAILING_LINE_1, MAILING_LINE_2, CITY, STATE, ZIP, SECTOR, CARRIER_ROUTE, ADDRESS_UNDELIVERABLE_FLAG, FIPS_COUNTY, FIPS_STATE, PRINTER_CONTROL_CODE, PC_ZIP, PC_SECTOR, DELIVERY_POINT_CODE, CHECK_DIGIT, PRINTER_CONTROL_CODE_2, REGION, DIVISION, GROUP, TRACT, SUFFIX_CENSUS, BLOCK_GROUP, MSA_POPULATION_SIZE, MICRO_METRO_IND, CBSA, CBSA_DIV_IND, MD_DO_CODE, BIRTH_YEAR, BIRTH_CITY, BIRTH_STATE, BIRTH_COUNTRY, GENDER, TELEPHONE_NUMBER, PRESUMED_DEAD_FLAG, FAX_NUMBER, TOP_CD, PE_CD, PRIM_SPEC_CD, SEC_SPEC_CD, MPA_CD, PRA_RECIPIENT, PRA_EXP_DT, GME_CONF_FLG, FROM_DT, TO_DT, YEAR_IN_PROGRAM, POST_GRADUATE_YEAR, GME_SPEC_1, GME_SPEC_2, TRAINING_TYPE, GME_INST_STATE, GME_INST_ID, MEDSCHOOL_STATE, MEDSCHOOL_ID, MEDSCHOOL_GRAD_YEAR, NO_CONTACT_IND, NO_WEB_FLAG, PDRP_FLAG, PDRP_START_DT, POLO_MAILING_LINE_1, POLO_MAILING_LINE_2, POLO_CITY, POLO_STATE, POLO_ZIP, POLO_SECTOR, POLO_CARRIER_ROUTE, MOST_RECENT_FORMER_LAST_NAME, MOST_RECENT_FORMER_MIDDLE_NAME, MOST_RECENT_FORMER_FIRST_NAME, NEXT_MOST_RECENT_FORMER_LAST, NEXT_MOST_RECENT_FORMER_MIDDLE, NEXT_MOST_RECENT_FORMER_FIRST, NPI]
Index: []

[0 rows x 82 columns]

In [28]:
usages['POLO_MAILING_LINE_2']

0       <built-in method upper of str object at 0x0000...
1       <built-in method upper of str object at 0x0000...
2       <built-in method upper of str object at 0x0000...
3       <built-in method upper of str object at 0x0000...
4       <built-in method upper of str object at 0x0000...
                              ...
7744    <built-in method upper of str object at 0x0000...
7745    <built-in method upper of str object at 0x0000...
7746    <built-in method upper of str object at 0x0000...
7747    <built-in method upper of str object at 0x0000...
7748    <built-in method upper of str object at 0x0000...
Name: POLO_MAILING_LINE_2, Length: 7749, dtype: object

In [ ]:
'''
    SELECT DISTINCT
    A.PARTY_ID,
    A.POST_CD_ID,
    P.ADDR_1,
    P.ADDR_2,
    P.ADDR_3,
    P.CITY,
    S.SRC_STATE_CD AS STATE_CD,
    P.POST_CD AS ZIP,
    A.FROM_DT,
    P.SRC_POST_KEY AS POST_KEY
    FROM
    AMAEDW.POST_CD P, AMAEDW.STATE S , AMAEDW.PARTY_ADDR A, AMAEDW.CONT_PURPOSE_TYPE C
    WHERE
    A.PURPOSE_TYPE_ID=C.PURPOSE_TYPE_ID
    AND
    C.PURPOSE_CAT_CD='A'
    AND
    C.PURPOSE_USG_CD='PO'
    AND
    A.POST_CD_ID = P.POST_CD_ID
    AND
    P.STATE_ID = S.STATE_ID
    AND
    A.THRU_DT IS NULL;
    '''

In [52]:
len(ppd)/10000

35.4341

In [60]:
(len(ppd)-50000)/20000

15.21705

In [67]:
z = 50000
chunks = [50000]
for x in list(range(15)):
    z+=20000
    print(z)
    chunks.append(z)

70000
90000
110000
130000
150000
170000
190000
210000
230000
250000
270000
290000
310000
330000
350000

In [68]:
chunks

[50000,
 70000,
 90000,
 110000,
 130000,
 150000,
 170000,
 190000,
 210000,
 230000,
 250000,
 270000,
 290000,
 310000,
 330000,
 350000]

In [69]:
chunks[0:2]

[50000, 70000]

In [71]:
ppd[2:4]

,ME,RECORD_ID,UPDATE_TYPE,ADDRESS_TYPE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,MAILING_LINE_1,...,POLO_ZIP,POLO_SECTOR,POLO_CARRIER_ROUTE,MOST_RECENT_FORMER_LAST_NAME,MOST_RECENT_FORMER_MIDDLE_NAME,MOST_RECENT_FORMER_FIRST_NAME,NEXT_MOST_RECENT_FORMER_LAST,NEXT_MOST_RECENT_FORMER_MIDDLE,NEXT_MOST_RECENT_FORMER_FIRST,NPI
2,00102000064,A,1,2.0,CAROL L ADAMS MD,ADAMS,CAROL,LYNN,NaN,NaN,...,35504.0,2516.0,C009,DANIELS,LYNN,CAROL,NaN,NaN,NaN,1083671994
3,00102000072,A,1,2.0,JAMES H BANKSTON JR MD,BANKSTON,JAMES,HAROLD,2.0,NaN,...,35406.0,1800.0,C057,NaN,NaN,NaN,NaN,NaN,NaN,1831130459

In [72]:
len(mes)

50000

In [13]:
sourcing.groupby('DESC').count().sort_values('PARTY_ID', ascending = False)[['PARTY_ID']].to_csv('../../Data/DataGov/Sourcing_Phone.csv')

In [89]:
len(sourcing)

999017

In [87]:
ppd[ppd.ME.isin(sourcing.ME)==False]

,ME,RECORD_ID,UPDATE_TYPE,ADDRESS_TYPE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,MAILING_LINE_1,...,POLO_ZIP,POLO_SECTOR,POLO_CARRIER_ROUTE,MOST_RECENT_FORMER_LAST_NAME,MOST_RECENT_FORMER_MIDDLE_NAME,MOST_RECENT_FORMER_FIRST_NAME,NEXT_MOST_RECENT_FORMER_LAST,NEXT_MOST_RECENT_FORMER_MIDDLE,NEXT_MOST_RECENT_FORMER_FIRST,NPI
3,00102000072,A,1,2.0,JAMES H BANKSTON JR MD,BANKSTON,JAMES,HAROLD,2.0,NaN,...,35406.0,1800.0,C057,NaN,NaN,NaN,NaN,NaN,NaN,1831130459
9,00102000170,A,1,2.0,MARTIN T SIGLER MD,SIGLER,MARTIN,TRISTRAM,NaN,NaN,...,75093.0,5215.0,C095,NaN,NaN,NaN,NaN,NaN,NaN,1245299692
10,00102000196,A,1,1.0,REBECCA L SUGG MD,SUGG,REBECCA,L M,NaN,USA DEPT OF NEUROLOGY,...,36617.0,2300.0,C011,MIXON,LEIGH,REBECCA,NaN,NaN,NaN,1982656773
19,00102000366,A,1,1.0,ALAN C MC COOL MD,MC COOL,ALAN,CLAYTON,NaN,NaN,...,35501.0,8952.0,C006,NaN,NaN,NaN,NaN,NaN,NaN,1811940679
20,00102000391,A,1,1.0,GREGORY J FOLSOM MD,FOLSOM,GREGORY,JOHN,NaN,NaN,...,55439.0,2569.0,C001,NaN,NaN,NaN,NaN,NaN,NaN,1033184213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354326,96501850036,A,1,1.0,RASHID A DALAL MD,DALAL,RASHID,AHMED M,NaN,NaN,...,62226.0,5369.0,C026,NaN,NaN,NaN,NaN,NaN,NaN,1265434815
354329,96501870011,A,1,2.0,ANTHONY EKWENCHI MD,EKWENCHI,ANTHONY,NaN,NaN,NaN,...,30106.0,2007.0,C006,EKWENCHI,UBA,ANTHONY,NaN,NaN,NaN,1376765180
354332,96501880032,A,1,2.0,INDUMATHI N RAO MD,RAO,INDUMATHI,NATARAJAN,NaN,NaN,...,45429.0,2219.0,C017,NaN,NaN,NaN,NaN,NaN,NaN,1447242045
354334,96501900017,A,1,1.0,MAMLE ANIM MD,ANIM,MAMLE,NaN,NaN,NaN,...,45402.0,2643.0,C053,ONWUDIWE,ANIM,MAMLE,NaN,NaN,NaN,1790741536
354335,96501910012,A,1,1.0,HANY S SALAMA MD,SALAMA,HANY,SAMIR B,NaN,NaN,...,63119.0,5140.0,C069,NaN,NaN,NaN,NaN,NaN,NaN,1619064656

In [90]:
999017/287778

3.471484964104275

In [17]:
sourcing[['FROM_DT']].dtypes

FROM_DT    datetime64[ns]
dtype: object

In [16]:
sourcing.sort_values('FROM_DT').drop_duplicates('ME', keep='last').groupby('DESC').count().sort_values('PARTY_ID', ascending = False)[['PARTY_ID']].to_csv('../../Data/DataGov/Sourcing_New_Phone.csv')

In [17]:
newest = sourcing.sort_values('FROM_DT_x').drop_duplicates('ME', keep='last')

In [15]:
sourcing.columns

Index(['PARTY_ID', 'ME', 'POST_CD_ID', 'ADDR_1', 'ADDR_2', 'ADDR_3', 'CITY_x',
       'STATE_CD', 'ZIP_x', 'FROM_DT', 'DESC', 'CATEGORY_CODE',
       'POLO_MAILING_LINE_2', 'NPI', 'lst_nm', 'frst_nm', 'mid_nm', 'adr_ln_1',
       'adr_ln_2', 'cty', 'st', 'zip', 'phn_numbr', 'MAILING_NAME',
       'MAILING_LINE_1', 'MAILING_LINE_2', 'CITY_y', 'STATE', 'ZIP_y',
       'TELEPHONE_NUMBER', 'FAX_NUMBER', 'POLO_MAILING_LINE_1', 'POLO_CITY',
       'POLO_STATE', 'POLO_ZIP', 'zipcode', 'STATE_MATCH', 'CITY_MATCH',
       'ZIP_MATCH', 'PHONE_MATCH', 'ADDRESS_MATCH'],
      dtype='object')

In [19]:
sourcing.drop_duplicates('ME', keep=False)

,PARTY_ID,ME,POST_CD_ID,ADDR_1,ADDR_2,ADDR_3,CITY_x,STATE_CD,ZIP_x,FROM_DT,...,POLO_MAILING_LINE_1,POLO_CITY,POLO_STATE,POLO_ZIP,zipcode,STATE_MATCH,CITY_MATCH,ZIP_MATCH,PHONE_MATCH,ADDRESS_MATCH
0,2664009,64935810696,10292981,1175 Montauk Hwy Ste 1,,,West Islip,NY,11795,2016-10-18 07:22:59.445103,...,None,WEST ISLIP,NY,11795,11795,True,True,True,True,False
1,2324212,02834011606,22327163,2940 N Litchfield Rd,,,Goodyear,AZ,85395,2016-10-18 07:26:04.487757,...,None,GOODYEAR,AZ,85395,85395,True,True,True,True,True
2,2232025,03841980475,22548366,2322 Lakeview Dr,,,Beavercreek,OH,45431,2016-10-18 07:26:05.108452,...,None,BEAVERCREEK,OH,45431,45431,True,True,True,True,True
3,2964520,70416860732,24349512,135 Main St,Nassau Univ Med Ctr,,Hempstead,NY,11550,2016-10-18 07:26:29.053419,...,NASSAU UNIV MED CTR,HEMPSTEAD,NY,11550,11550,True,True,True,True,True
4,2142252,02501970665,26153867,676 N Saint Clair St,,,Chicago,IL,60611,2016-10-18 07:26:30.032312,...,None,CHICAGO,IL,60611,60611,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875262,2259082,03503891335,26729781,75 Emerson Bay Rd Ste 102,,,Carolina Shor,NC,28467,2020-07-29 23:57:06.000000,...,None,CAROLINA SHOR,NC,28467,28467,True,False,True,False,True
875283,5291636,42201116257,29008301,1025 Sendero Springs Dr Ste 120,,,Round Rock,TX,78681,2020-09-04 04:16:39.000000,...,None,ROUND ROCK,TX,78681,78681,True,True,True,False,False
875349,1963856,02002010235,13468385,2360 Mullan Rd Ste C,Missoula Bone & Joint,,Missoula,MT,59808,2021-02-05 23:38:35.000000,...,None,MISSOULA,MT,59808,59808,True,True,True,True,True
875355,1832160,01003880296,27839496,10750 Columbia Pike Ste 501,,,Silver Spring,MD,20901,2021-02-20 04:26:33.000000,...,None,SILVER SPRING,MD,20901,20901,True,True,True,True,True
875356,1941226,01606881904,29006459,400 S Farrell Dr Ste B160,,,Palm Springs,CA,92262,2021-02-20 04:26:33.000000,...,None,PALM SPRINGS,CA,92262,92262,True,True,True,True,True

In [20]:
262777-55323

207454

In [21]:
len(sourcing)/262777

3.33117814725033

NameError: name 'pd' is not defined