In [16]:
import pandas as pd
import useful_functions as use
import numpy as np

In [2]:
ppd = use.get_ppd()

INFO:useful_functions:PPD file from Mar 05 2022
C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (13,14,20,21,49,56,57,72) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [12]:
ppd[(ppd.SUFFIX.isna())]

,ME,RECORD_ID,UPDATE_TYPE,ADDRESS_TYPE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,MAILING_LINE_1,...,POLO_STATE,POLO_ZIP,POLO_SECTOR,POLO_CARRIER_ROUTE,MOST_RECENT_FORMER_LAST_NAME,MOST_RECENT_FORMER_MIDDLE_NAME,MOST_RECENT_FORMER_FIRST_NAME,NEXT_MOST_RECENT_FORMER_LAST,NEXT_MOST_RECENT_FORMER_MIDDLE,NEXT_MOST_RECENT_FORMER_FIRST
0,00102000013,A,1,2.0,MICHAEL J STANFORD MD,STANFORD,MICHAEL,JAMES,NaN,NaN,...,AL,35150,2913.0,C003,NaN,NaN,NaN,NaN,NaN,NaN
1,00102000021,A,1,3.0,MERI K MARTIN MD,MARTIN,MERI,KING,NaN,NaN,...,NC,27617,7408.0,R077,NaN,NaN,NaN,NaN,NaN,NaN
2,00102000030,A,1,1.0,MARK T JACKSON MD,JACKSON,MARK,THOMAS,NaN,NaN,...,NC,28805,1262.0,C082,NaN,NaN,NaN,NaN,NaN,NaN
3,00102000048,A,1,2.0,NADHIWAN S MAISIAK MD,MAISIAK,NADHIWAN,SAKARIN,NaN,NaN,...,AZ,85375,5282.0,C045,NaN,NaN,NaN,NaN,NaN,NaN
4,00102000056,A,1,2.0,RAJIV B GALA MD,GALA,RAJIV,BABULAL,NaN,NaN,...,LA,70121,2429.0,C010,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308622,96501960028,A,1,2.0,ROBERT SAKULANDA MD,SAKULANDA,ROBERT,NaN,NaN,NaN,...,GA,30076,5122.0,R004,NaN,NaN,NaN,NaN,NaN,NaN
1308623,96501960036,A,1,2.0,KAMISHELE MAILA MD,MAILA,KAMISHELE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1308624,96501960044,A,1,2.0,MWIZA GAUSI MD,GAUSI,MWIZA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1308625,96501960052,A,1,2.0,MASIKU A MDALA-GAUSI MD,MDALA-GAUSI,MASIKU,AGATHA,NaN,NaN,...,NC,27157,1.0,C000,NaN,NaN,NaN,NaN,NaN,NaN
1308626,96501980029,A,1,1.0,GEORGE N MWANDIA MD,MWANDIA,GEORGE,NSENGA,NaN,NaN,...,OH,45429,2219.0,C017,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#109108
#334722
#56364

In [15]:
len(ppd[ppd.MD_DO_CODE==2])

100482

In [19]:
notes_2 = pd.read_excel('../../Data/Scorecard/v-Masterfile-Scorecard_January_2022_02_11.xlsx', sheet_name='Notes_2')
standard_devs = []
for num in list(range(0, 24)):
    standard_devs.append(np.std(notes_2.iloc[[num], 2:15].values, dtype=np.float64))

In [20]:
standard_devs

[0.002764805009557464,
 0.006140801209535603,
 0.011867214984544065,
 0.0011040560467643658,
 0.0006406450752169392,
 0.001940693995821728,
 0.005698115737846425,
 0.023451655711572775,
 0.02242711908487918,
 0.011327326758528334,
 0.02463495472570425,
 0.007116969237096863,
 18334.440131317086,
 8239.327722905782,
 13841.4661257195,
 30514.756776810937,
 0.022800556246042936,
 0.010112920832192123,
 0.016635911919071142,
 0.021180695184125683,
 1699.3002249272702,
 2381.0958518340462,
 10690.896817817988,
 1458.7180438182515]

In [21]:
ppd_old = pd.read_csv('../../Data/Scorecard/ppd_data_20220205.csv')

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (13,14,20,21,49,56,57,72) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
len(ppd_old[ppd_old.MD_DO_CODE==2])

100434

In [33]:
ppd[~(ppd.PRESUMED_DEAD_FLAG.isna())&(ppd.MD_DO_CODE==2)][['BIRTH_YEAR','MAILING_NAME']]

        BIRTH_YEAR           MAILING_NAME
16955       1954.0     ALBERTA R JONES DO
81205       1915.0  DONALD CURRY-ALLEN DO
81206       1920.0    EARL CHAPPELL JR DO
84092       1957.0  STEPHEN D DOCHERTY DO
84471       1947.0     KENNETH S YOUNG DO
...            ...                    ...
785747      1953.0  SILVIO J ZAPPASODI DO
788373      1964.0    JOHN S FLUBACHER DO
904790      1985.0         ATEFA NAYEB DO
960310      1945.0       MARION WATSON DO
960458      1955.0        STEVEN SMITH DO

[364 rows x 2 columns]

In [39]:
ppd[~(ppd.NO_CONTACT_IND.isna())&(ppd.TOP_CD==20)]

,ME,RECORD_ID,UPDATE_TYPE,ADDRESS_TYPE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,MAILING_LINE_1,...,POLO_STATE,POLO_ZIP,POLO_SECTOR,POLO_CARRIER_ROUTE,MOST_RECENT_FORMER_LAST_NAME,MOST_RECENT_FORMER_MIDDLE_NAME,MOST_RECENT_FORMER_FIRST_NAME,NEXT_MOST_RECENT_FORMER_LAST,NEXT_MOST_RECENT_FORMER_MIDDLE,NEXT_MOST_RECENT_FORMER_FIRST
61,00102000650,A,1,1.0,DAVID I GAINES MD,GAINES,DAVID,ISAAC,NaN,200B PATEWOOD DR,...,SC,29615,6321.0,C076,NaN,NaN,NaN,NaN,NaN,NaN
125,00102001869,A,1,2.0,RONALD M ROAN MD,ROAN,RONALD,MCCUEN,NaN,NaN,...,AL,35233,1927.0,C033,NaN,NaN,NaN,NaN,NaN,NaN
160,00102010060,A,1,1.0,PEILY SOONG MD,SOONG,PEILY,NaN,NaN,NaN,...,AL,35173,2367.0,R016,NaN,NaN,NaN,NaN,NaN,NaN
197,00102010442,A,1,2.0,KAFI WILSON MD,WILSON,KAFI,NaN,NaN,NaN,...,GA,30701,6010.0,C008,TERRY,NaN,KAFI,WILSON,NaN,KAFI
211,00102010582,A,1,2.0,JOHNNY H JOHNSON MD,JOHNSON,JOHNNY,H,NaN,NaN,...,FL,33709,2145.0,C062,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308186,95705850055,A,1,2.0,MANA DEJHALLA MD,DEJHALLA,MANA,NaN,NaN,NaN,...,NY,10595,1530.0,C099,NaN,NaN,NaN,NaN,NaN,NaN
1308300,95707980037,A,1,2.0,VALENA GRBIC MD,GRBIC,VALENA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1308404,95708870049,A,1,1.0,RADICA ALICIC MD,ALICIC,RADICA,NaN,NaN,PO BOX 2555,...,WA,99204,2307.0,C012,NaN,NaN,NaN,NaN,NaN,NaN
1308463,95708930033,A,1,2.0,VEDRAN USCHUPLICH MD,USCHUPLICH,VEDRAN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,USCUPLICH,NaN,VEDRAN,NaN,NaN,NaN
1308589,96501830051,A,1,2.0,CHRISTOPHER T DA COSTA MD,DA COSTA,CHRISTOPHER,T K,NaN,NaN,...,NaN,NaN,NaN,NaN,ABOAGYE-DA COSTA,NaN,CHRIS,DA COSTA,K,CHRISTOPHER

In [ ]:
ppd_old[(ppd_old.NO_CONTACT_IND.isna())&(ppd_old.TOP_CD==20)]

,ME,RECORD_ID,UPDATE_TYPE,ADDRESS_TYPE,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,MAILING_LINE_1,...,POLO_STATE,POLO_ZIP,POLO_SECTOR,POLO_CARRIER_ROUTE,MOST_RECENT_FORMER_LAST_NAME,MOST_RECENT_FORMER_MIDDLE_NAME,MOST_RECENT_FORMER_FIRST_NAME,NEXT_MOST_RECENT_FORMER_LAST,NEXT_MOST_RECENT_FORMER_MIDDLE,NEXT_MOST_RECENT_FORMER_FIRST
0,102000013,A,1,2.0,MICHAEL J STANFORD MD,STANFORD,MICHAEL,JAMES,NaN,NaN,...,AL,35150,2913.0,C003,NaN,NaN,NaN,NaN,NaN,NaN
2,102000030,A,1,1.0,MARK T JACKSON MD,JACKSON,MARK,THOMAS,NaN,NaN,...,NC,28805,1262.0,C082,NaN,NaN,NaN,NaN,NaN,NaN
3,102000048,A,1,2.0,NADHIWAN S MAISIAK MD,MAISIAK,NADHIWAN,SAKARIN,NaN,NaN,...,AZ,85375,5282.0,C045,NaN,NaN,NaN,NaN,NaN,NaN
4,102000056,A,1,2.0,RAJIV B GALA MD,GALA,RAJIV,BABULAL,NaN,NaN,...,LA,70121,2429.0,C010,NaN,NaN,NaN,NaN,NaN,NaN
5,102000064,A,1,2.0,CAROL L ADAMS MD,ADAMS,CAROL,LYNN,NaN,NaN,...,AL,35504,2516.0,C009,DANIELS,LYNN,CAROL,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308695,96501940019,A,1,1.0,MUKUL GUPTA MD,GUPTA,MUKUL,NaN,NaN,NaN,...,CA,93105,4365.0,C013,NaN,NaN,NaN,NaN,NaN,NaN
1308696,96501950014,A,1,2.0,DINESH BHASKARAN MD,BHASKARAN,DINESH,NaN,NaN,NaN,...,PA,15009,9727.0,R001,NaN,NaN,NaN,NaN,NaN,NaN
1308700,96501960036,A,1,2.0,KAMISHELE MAILA MD,MAILA,KAMISHELE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1308701,96501960044,A,1,2.0,MWIZA GAUSI MD,GAUSI,MWIZA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1308702,96501960052,A,1,2.0,MASIKU A MDALA-GAUSI MD,MDALA-GAUSI,MASIKU,AGATHA,NaN,NaN,...,NC,27157,1.0,C000,NaN,NaN,NaN,NaN,NaN,NaN