In [13]:
import pandas as pd
import useful_functions as use

In [2]:
old = pd.read_csv('../../Data/DHC/DHC_2021-11.csv')
new = pd.read_csv('../../Data/DHC/DHC_2022-04.csv')

C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\vigrose\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
len(new) - len(old)

1557608

In [10]:
new[new.ME.isna()]

,NPI,ME,Additional Office Locations,Phone Number,Zip Code,State,City,Address,First Name,Physician Name,Middle Name,Primary Specialty,Primary Hospital Affiliation,Last Name,Address1
921728,1619503406,NaN,NaN,NaN,99508,AK,Anchorage,4020 Folker St,Faitupe,Faitupe A'asa,M,Other,NaN,A'asa,NaN
921729,1538713482,NaN,NaN,NaN,85015,AZ,Phoenix,1607 W Bethany Home Rd,Rooney,Rooney Aago,Batrus Yousif,Other,NaN,Aago,NaN
921730,1356428510,NaN,NaN,NaN,85381,AZ,Peoria,7616 W Thunderbird Rd,Bruce,Bruce Aahrens,Thomas,Other,NaN,Aahrens,NaN
921731,1780658039,NaN,NaN,NaN,85022,AZ,Phoenix,706 E Bell Rd,Alexandre,Alexandre Aalam,NaN,Other,NaN,Aalam,NaN
921732,1740741867,NaN,NaN,NaN,72202,AR,Little Rock,1 Childrens Way,Lauren,Lauren Aamoth,Michelle,Other,NaN,Aamoth,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458469,1407808728,NaN,NaN,509.701.4231,99163,WA,Pullman,252 Brayton Rd,Lennard,Lennard Zylstra,P,Social Worker - Licensed Clinical Social Worker,Walla Walla VA Medical Center (AKA Jonathan Wa...,Zylstra,NaN
2458470,1821142738,NaN,NaN,360.816.0277,98683,WA,Vancouver,406 Se 131st Ave Ste C305,Lisa,Lisa Zylstra,D,Physician Assistant,PeaceHealth Southwest Medical Center (Vancouve...,Zylstra,NaN
2458471,1295847002,NaN,NaN,414.476.8183,53226,WI,Wauwatosa,2525 N Mayfair Rd,Marc,Marc Zylstra,W,Psychology - Clinical Psychologist,NaN,Zylstra,#80
2458472,1275147704,NaN,NaN,NaN,98520,WA,Aberdeen,1006 N H St,Rachel,Rachel Zynda,C,Therapy - Physical Therapist,Harbor Regional Health Community Hospital (FKA...,Zynda,NaN
2458473,1275086548,NaN,NaN,608.263.8100,53792,WI,Madison,600 Highland Ave,Michael,Michael Zywicki,Francis,Nurse - Nurse Practitioner,NaN,Zywicki,NaN

In [9]:
old[old.ME.isna()]

Empty DataFrame
Columns: [Additional_Office_Locations, Phone_Number, Zip_Code, State, City, Address, First_Name, Physician_Name, Middle_Name, Primary_Specialty, NPI, Primary_Hospital_Affiliation, Last_Name, Address1, ME]
Index: []

In [14]:
npi_phones = pd.read_csv('../../Data/NPI/NPI_PHONES_TO_TRIANGULATE_041922.csv')
npi_phones['ME'] = use.fix_me(npi_phones.medical_education_number)
npi_phones['IQVIA_ME'] = [x[0:10] for x in npi_phones.ME]
npi_phones['PHONE_NPI'] = [use.fix_phone(x) for x in npi_phones.PHONE]
npi_phones.head()

,medical_education_number,PHONE,SOURCE,ME,IQVIA_ME,PHONE_NPI
0,102000323,4783014111,B,00102000323,0010200032,4783014111
1,102000439,2655355972,B,00102000439,0010200043,2655355972
2,102000510,8038029488,B,00102000510,0010200051,8038029488
3,102000561,4178310150,B,00102000561,0010200056,4178310150
4,102000676,3032864560,B,00102000676,0010200067,3032864560

In [19]:
testing = list(npi_phones[npi_phones.SOURCE!='B'].ME)

In [20]:
npi_phones[npi_phones.ME.isin(testing)]

,medical_education_number,PHONE,SOURCE,ME,IQVIA_ME,PHONE_NPI
12115,1611152228,7737021150,M,01611152228,0161115222,7737021150
15160,1803000359,3192353697,M,01803000359,0180300035,3192353697
17445,2012710774,3864923243,M,02012710774,0201271077,3864923243
23722,2512160908,8592124700,M,02512160908,0251216090,8592124700
36031,3575980201,8567166598,M,03575980201,0357598020,8567166598
43867,4113780288,4073037283,M,04113780288,0411378028,4073037283
45716,4178181209,7195957585,M,04178181209,0417818120,7195957585
58170,13002171095,9259170964,M,13002171095,1300217109,9259170964
64267,49521020694,9898391644,M,49521020694,4952102069,9898391644
76211,91504120118,8573181460,M,91504120118,9150412011,8573181460