In [1]:
import pandas as pd

In [2]:
path = "PhysicianProfessionalDataFile_20191012_062051504"
cols = [
        'ME',
        'RECORD_ID',
        'UPDATE_TYPE',
        'ADDRESS_TYPE',
        'MAILING_NAME',
        'LAST_NAME',
        'FIRST_NAME',
        'MIDDLE_NAME',
        'SUFFIX',
        'MAILING_LINE_1',
        'MAILING_LINE_2',
        'CITY',
        'STATE',
        'ZIP',
        'SECTOR',
        'CARRIER_ROUTE',
        'ADDRESS_UNDELIVERABLE_FLAG',
        'FIPS_COUNTY',
        'FIPS_STATE',
        'PRINTER_CONTROL_CODE',
        'PC_ZIP',
        'PC_SECTOR',
        'DELIVERY_POINT_CODE',
        'CHECK_DIGIT',
        'PRINTER_CONTROL_CODE_2',
        'REGION',
        'DIVISION',
        'GROUP',
        'TRACT',
        'SUFFIX_CENSUS',
        'BLOCK_GROUP',
        'MSA_POPULATION_SIZE',
        'MICRO_METRO_IND',
        'CBSA',
        'CBSA_DIV_IND',
        'MD_DO_CODE',
        'BIRTH_YEAR',
        'BIRTH_CITY',
        'BIRTH_STATE',
        'BIRTH_COUNTRY',
        'GENDER',
        'TELEPHONE_NUMBER',
        'PRESUMED_DEAD_FLAG',
        'FAX_NUMBER',
        'TOP_CD',
        'PE_CD',
        'PRIM_SPEC_CD',
        'SEC_SPEC_CD',
        'MPA_CD',
        'PRA_RECIPIENT',
        'PRA_EXP_DT',
        'GME_CONF_FLG',
        'FROM_DT',
        'TO_DT',
        'YEAR_IN_PROGRAM',
        'POST_GRADUATE_YEAR',
        'GME_SPEC_1',
        'GME_SPEC_2',
        'TRAINING_TYPE',
        'GME_INST_STATE',
        'GME_INST_ID',
        'MEDSCHOOL_STATE',
        'MEDSCHOOL_ID',
        'MEDSCHOOL_GRAD_YEAR',
        'NO_CONTACT_IND',
        'NO_WEB_FLAG',
        'PDRP_FLAG',
        'PDRP_START_DT',
        'POLO_MAILING_LINE_1',
        'POLO_MAILING_LINE_2',
        'POLO_CITY',
        'POLO_STATE',
        'POLO_ZIP',
        'POLO_SECTOR',
        'POLO_CARRIER_ROUTE',
        'MOST_RECENT_FORMER_LAST_NAME',
        'MOST_RECENT_FORMER_MIDDLE_NAME',
        'MOST_RECENT_FORMER_FIRST_NAME',
        'NEXT_MOST_RECENT_FORMER_LAST',
        'NEXT_MOST_RECENT_FORMER_MIDDLE',
        'NEXT_MOST_RECENT_FORMER_FIRST'
    ]
ppd = pd.read_csv(path, names=cols, sep='|', encoding='IBM437', index_col=False, dtype=object)
PPD = ppd[['ME',
        'MAILING_NAME',
        'LAST_NAME',
        'FIRST_NAME',
        'MIDDLE_NAME',
        'SUFFIX',
        'MAILING_LINE_1',
        'MAILING_LINE_2',
        'CITY',
        'STATE',
        'ZIP',
        'TELEPHONE_NUMBER',
        'POLO_MAILING_LINE_1',
        'POLO_MAILING_LINE_2',
        'POLO_CITY',
        'POLO_STATE',
        'POLO_ZIP',
        'MEDSCHOOL_GRAD_YEAR'
          ]]

In [13]:
PPD[PPD['MEDSCHOOL_GRAD_YEAR']=='2019']

,ME,MAILING_NAME,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,MAILING_LINE_1,MAILING_LINE_2,CITY,STATE,ZIP,TELEPHONE_NUMBER,POLO_MAILING_LINE_1,POLO_MAILING_LINE_2,POLO_CITY,POLO_STATE,POLO_ZIP,MEDSCHOOL_GRAD_YEAR
2286,00102140486,ALEXANDER W BRAY MD,BRAY,ALEXANDER,WENDELL,NaN,NaN,5 WORTHDALE CT,GREENSBORO,NC,27408,NaN,NaN,NaN,NaN,NaN,NaN,2019
2336,00102141024,DANIEL F DITORO MD,DITORO,DANIEL,FRANCIS,NaN,NaN,1700 12TH ST S,BIRMINGHAM,AL,35205,NaN,NaN,NaN,NaN,NaN,NaN,2019
2354,00102141229,JONATHAN R LOCKHART MD,LOCKHART,JONATHAN,RUSSELL,NaN,NaN,913 CLEARWOOD AVE,KINGSPORT,TN,37660,NaN,NaN,NaN,NaN,NaN,NaN,2019
2385,00102141539,SARA L STONE MD,STONE,SARA,LYNN,NaN,NaN,108 ELMWOOD AVE,NARBERTH,PA,19072,NaN,NaN,3400 SPRUCE ST,PHILADELPHIA,PA,19104,2019
2391,00102141598,ALEXANDER P NESMITH MD,NESMITH,ALEXANDER,PEYTON,NaN,NaN,1800 ORLEANS ST,BALTIMORE,MD,21287,NaN,NaN,1800 ORLEANS ST,BALTIMORE,MD,21287,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164795,66106190039,CHLOE L BALANDA MD,BALANDA,CHLOE,LEEANN,NaN,NaN,3334 WEATHERFORD DR NW APT 3B,WALKER,MI,49544,NaN,NaN,NaN,NaN,NaN,NaN,2019
1217075,75918190015,ALEXANDER TSIBULSKI MD,TSIBULSKI,ALEXANDER,NaN,NaN,NaN,35442 ELMWOOD CT,CLINTON TWP,MI,48035,NaN,NaN,44405 WOODWARD AVE,PONTIAC,MI,48341,2019
1217076,75918190023,MICHAEL MALKOWSKI MD,MALKOWSKI,MICHAEL,NaN,NaN,NaN,164 STRATHMORE RD APT 12,BRIGHTON,MA,02135,NaN,NaN,NaN,NaN,NaN,NaN,2019
1217490,77201190013,MOAZ ABDELREHIM MD,ABDELREHIM,MOAZ,NaN,NaN,NaN,39 SHEPARD ST,BRIGHTON,MA,02135,NaN,NaN,NaN,NaN,NaN,NaN,2019
1253985,91511190016,MOHAMED A ELBORAEY MD,ELBORAEY,MOHAMED,AHMED KAMAL,NaN,NaN,4741 MARSH HAMMOCK DR W,JACKSONVILLE,FL,32224,NaN,NaN,NaN,NaN,NaN,NaN,2019

In [6]:
PPD['MEDSCHOOL_GRAD_YEAR']

0          2000
1          2001
2          2000
3          2000
4          2000
           ...
1262293    1996
1262294    1996
1262295    1998
1262296    1996
1262297    1998
Name: MEDSCHOOL_GRAD_YEAR, Length: 1262298, dtype: object